/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header {
    min-height: 120px;
    height: 100%;
}

.header-fixed {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 120px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.scrolled {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 120px;
    background: #fff;
    display: block;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 9;
}

.header-topline {
    width: 100%;
    min-height: 60px;
}

.header-topline-social {
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
    float: left;
    padding: 0 24px;
    box-sizing: border-box;
}

.header-topline-social-link {
    width: 25%;
    text-align: center;
}

.header-topline-social-link:hover {
    opacity: .7;
}

.header-topline-nav {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    float: left;
    background: #575757;
    font-size: 14px;
    line-height: 18px;
}

.header-topline-nav-menu {
    width: 65.5%;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-topline-nav-menu-link {
    width: 24%;
    float: left;
    text-align: center;
}

.header-topline-nav-menu-link>a {
    color: #fff;
    text-decoration: none;
}

.header-topline-nav-menu-link>a:hover {
    color: #ffe023;
    text-decoration: underline;
}

.header-topline-nav-account {
    width: 34.5%;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-topline-nav-account-register {
    width: 64%;
    text-align: center;
    border-right: 2px solid #fff;
}

.header-topline-nav-account-login {
    width: 36%;
    text-align: center;
}

.header-topline-nav-account-register>a,
.header-topline-nav-account-login>a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}

.header-topline-nav-account-register>a:hover,
.header-topline-nav-account-login>a:hover {
    color: #ffe023;
    text-decoration: underline;
}

.header-topline-wishlist_full {
    width: 15%;
    height: 60px;
    background: #cdcdcf;
    float: left;
    display: flex;
    align-items: center;
}

.header-topline-wishlist_full-link {
    background: url(../img/wishlist_full.png)-2px center no-repeat;
    line-height: 18px;
    color: #575757;
    text-decoration: none;
    padding-left: 50px;
}

.header-fixed.scrolled>.header-topline-wishlist_mini>.header-topline-wishlist_full-link {
    background: none;
    padding-left: 0;
}

.header-topline-wishlist_full-link>img {
    height: 100%;
}

.header-topline-wishlist_full-link:hover {
    opacity: .7;
}

.header-topline-wishlist_helper>img {
    width: 100%;
}

.header-topline-wishlist_helper {
    width: 35%;
    float: right;
}

.header-topline-wishlist_helper:hover .header-topline-wishlist_helper_tooltip {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.header-topline-wishlist_helper_tooltip {
    visibility: hidden;
    position: absolute;
    top: 48px;
    margin-left: -222px;
    width: 328px;
    height: 188px;
    background: #fff;
    font-size: 12px;
    color: #575757;
    padding: 10px 22px;
    border: 1px solid #e4e4e4;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.header-topline-wishlist_helper_tooltip:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 233px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.5px 8px 6.5px;
    border-color: transparent transparent #ffffff transparent;
}

.header-logo {
    width: 20%;
    min-height: 120px;
    height: 100%;
    float: left;
    position: relative;
}

.header-logo>a>.logo {
    width: 100%;
    height: 100%;
}

.header-logo-mini {
    width: 10%;
    float: left;
    background: #fff;
}

.header-logo>a>img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.header-logo>a:hover {
    opacity: .7;
}

.header-logo-location-link {
    display: block;
    text-align: center;
    padding: 14px;
    font-size: 14px;
    color: #575757;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
}

.header-topline-cart {
    width: 15%;
    height: 60px;
    float: left;
    display: flex;
    align-items: center;
    background: #fedf22 url(../img/cart.png)center left no-repeat;
    position: relative;
    text-align: center;
}

.header-topline-cart-link {
    font-size: 14px;
    color: #575757;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.header-topline-cart-link>img {
    height: 100%;
}

.header-topline-cart-link:hover {
    text-decoration: underline;
}

.header-topline-cart-counter {
    width: 21px;
    height: 21px;
    background: #e83c4e;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    margin: 8px 8px 34px 8px;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
}

.header-category {
    width: 80%;
    height: auto;
    float: left;
}

.header-category-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-category-list>li {
    width: 12.5%;
    height: 120px;
    border: 1px solid #e6e6e6;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}

.header-category-list>li>a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #6a6a6a;
    text-decoration: none;
}

.header-category-list>li>a>img {
    width: 100%;
}

.header-category-list>li>a>span {
    font-size: 48px;
    font-size: 3.3em;
}

.header-category-list>li:hover .header-category-list-more {
    display: block;
    text-decoration: none!important;
}

.header-category-list>li>a>p {
    font-size: 14px;
    line-height: 16px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-category-list>li>a:hover p {
    visibility: hidden;
}

.header-category-list>li:last-child>a:hover p {
    visibility: visible;
}

.header-category-list-more {
    margin-top: -15px;
    position: absolute;
    display: none;
    width: 50%;
    z-index: 2;
    background: #fff;
    padding: 0 27px 0 36px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.header-category-list-more-product-lefttab {
    width: 60%;
    height: 100%;
    float: left;
    padding: 16px 0 18px;
    border-right: 1px solid #e6e6e6;
}

.header-category-list-more-product-lefttab-heading {
    font-size: 14px;
    font-weight: bold;
    color: #575757;
    text-align: left;
    margin-bottom: 40px;
}

.header-category-list-more-product-lefttab-list {
    margin: 0;
    padding: 0 0 0 36px;
    text-align: left;
    list-style-image: url(../img/list-img.png);
    list-style-position: outside;
}

.header-category-list-more-product-lefttab-list>li {
    width: 50%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 4px;
}

.header-category-list-more-product-lefttab-list>li>a {
    text-decoration: none;
    color: #6a6a6a;
    font-size: 14px;
    line-height: 14px;
}

.header-category-list-more-product-lefttab-list>li>a:hover {
    text-decoration: underline;
}

.header-category-list-more-product-lefttab-logo_slider {
    padding: 44px 0;
    margin-bottom: 0;
    list-style: none;
    clear: both;
    display: flex;
    align-items: center;
}

.header-category-list-more-product-lefttab-logo_slider>li {
    width: 30%;
    float: left;
    overflow: hidden;
}

.header-category-list-more-product-action {
    width: 39%;
    float: left;
    box-sizing: border-box;
    padding: 16px 0 18px 41px;
}

.header-category-list-more-product-action-close {
    float: right;
}

.header-category-list-more-product-action-heading {
    font-size: 14px;
    font-weight: bold;
    color: #575757;
}

.header-category-list-more-product-action-tovardnya {
    margin: 0 auto 16px;
    display: block;
    width: 100%;
}

.header-category-list-more-product-action-text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #575757;
}

.header-category-list-more-product-action-text-line {
    margin: 31px 0;
}

.header-category-list-more-product-action-priceblock {
    margin: 0;
    text-decoration: center;
    font-size: 18px;
    color: #575757;
}

.header-category-list-more-product-action-priceblock>.price {
    font-size: 36px;
    font-weight: bold;
}

.header-bottomline {
    width: 100%;
    height: 60px;
    float: left;
}

.header-bottomline-contact {
    width: 20%;
    height: 60px;
    float: left;
    background: #b6b6b6 url(../img/contact.png)right no-repeat;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 18px;
    color: #575757;
}

.header-top-contact {
    white-space: nowrap;
    width: 20%;
    height: 60px;
    float: left;
    text-align: center;
    background: #ffcc00;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    color: #575757;
}

.header-top-contact>a {
    font-size: 18px;
    line-height: 18px;
    color: #575757;
    text-decoration: none;
}

.header-top-contact>a:hover {
    text-decoration: underline;
    opacity: .7;
}

.header-top-contact>p {
    margin: 0;
}

.header-topline-wishlist_mini {
    width: 10%;
    height: 60px;
    background: #cdcdcf;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-topline-cart_mini {
    width: 10%;
    height: 60px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fedf22;
}

.header-topline-cart_mini>.header-topline-cart-counter {
    top: 0;
    right: 0;
    position: absolute;
}

.breadcrumb {
    width: 100%;
    height: 43px;
    padding: 17px 0 13px 41px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
}

.breadcrumb>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumb>ul>li {
    display: flex;
    align-items: center;
    float: left;
    margin-right: 18px;
}

.breadcrumb>ul>li>a {
    padding-left: 18px;
    font-size: 12px;
    line-height: 12px;
    color: #575757;
}

.breadcrumb>ul>li:before {
    content: ' ';
    width: 5px;
    height: 5px;
    background: #ffcc00;
}

.breadcrumb-home-link {
    margin-right: 22px;
}

.breadcrumb-home-link>a {
    padding: 0!important;
}

.breadcrumb-home-link:before {
    display: none;
}

.breadcrumb-home-link>img {
    vertical-align: top;
}

.form-wrapper {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    padding: 80px 24% 130px 10%;
    box-sizing: border-box;
}

.form-wrapper>.register {
    width: 50%;
    display: block;
    float: left;
}

.register>h2 {
    font-size: 18px;
    line-height: 18px;
    color: #777;
    font-weight: normal;
    margin: 0 0 45px 0;
}

.register>input[type="submit"] {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #333;
    padding: 18px 56px;
    background: transparent;
    border: 1px solid #333;
    margin-bottom: 30px;
}

.register>p {
    font-size: 14px;
    line-height: 14px;
    color: #333;
    margin: 0 0 28px 0;
}

.reg-social {
    width: 37%;
    height: 100%;
    display: block;
    float: left;
    padding: 0 5%;
}

.reg-social>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.reg-social>ul>li {
    width: 25%;
    display: block;
    float: left;
}

.reg-social>ul>li>a:hover {
    opacity: .7;
}

.form-wrapper>.login {
    width: 50%;
    display: block;
    float: left;
}

.login>h2 {
    font-size: 18px;
    line-height: 18px;
    color: #777;
    font-weight: normal;
    margin: 0 0 45px 0;
}

.login>form>label {
    font-size: 14px;
    line-height: 14px;
    color: #818181;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 8px;
}

.login>form>input:not([type="submit"]) {
    width: 100%;
    height: 36px;
    border: 0;
    border-bottom: 1px solid #696969;
    outline: 0;
    transition: all .4s linear;
    padding-left: 30px;
    box-sizing: border-box;
}

.login>form>input:not([type="submit"]):focus {
    border: 1px solid #696969;
}

.login>form>input[type="email"] {
    margin-bottom: 23px;
}

.login>form>input[type="password"] {
    margin-bottom: 13px;
}

.login>form>a {
    width: 100%;
    display: block;
    float: left;
    margin: 0 0 70px 0;
    color: #777;
    font-size: 11px;
    line-height: 11px;
}

.login>form>input[type="submit"] {
    width: 59%;
    height: 55px;
    background: #ffcc00;
    color: #575757;
    font-size: 18px;
    line-height: 18px;
    border: 0;
    float: right;
}

.catalog-menu-mini {
    width: 20%;
    height: 60px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #575757;
    transition: all .2s linear;
    position: relative;
}

.catalog-menu-mini.bg1 {
    background: #e6e6e6 url(../img/menu-icon-hamburger.png) left center no-repeat;
}

.catalog-menu-mini.bg2 {
    background: #e6e6e6 url(../img/menu-icon-hamburger-close.png) left center no-repeat;
    //color:#e6e6e6;
}

.menu-gamburger-cat-wrapper {
    position: absolute;
    right: 0;
    top: 60px;
    width: 80%;
    background: white;
    z-index: 12;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.menu-gamburger-cat-wrapper>.menu-gamburger-cat {
    display: block;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-gamburger-cat>li {
    width: 12.5%;
    height: 120px;
    border: 1px solid #e6e6e6;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}
.menu-gamburger-cat>li:last-child>a>span{
    color: #575757;
}
.menu-gamburger-cat>li:last-child>a>p{
    color: #575757;
}
.menu-gamburger-cat>li>a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #6a6a6a;
    text-decoration: none;
}
.menu-gamburger-cat>li>a:active{
    background: #6f6f6f;
}
.menu-gamburger-cat>li>a>img {
    width: 100%;
}

.menu-gamburger-cat>li>a>p {
    margin: 0;
}

.menu-gamburger-cat>li>a>span {
    font-size: 48px;
    font-size: 3.3em;
}

.header-bottomline-contact>a {
    font-size: 16px;
    line-height: 18px;
    color: #575757;
    text-decoration: none;
}

.header-bottomline-contact>a>span {
    font-size: 18px;
}

.header-bottomline-contact>a:hover {
    text-decoration: underline;
    opacity: .7;
}

.header-bottomline-contact>p {
    margin: 0;
}

.header-bottomline-search {
    width: 80%;
    height: 60px;
    float: left;
    background: #ffcc00 url(../img/search.png)right no-repeat;
}

.mini-search {
    width: 70%;
}

.header-bottomline-search>input {
    width: 94%;
    height: 98%;
    background: transparent;
    padding-left: 36px;
    color: #fff;
    font-size: 16px;
    border-style: none;
    box-sizing: border-box;
}

.header-bottomline-search>input:focus {
    border: 10px solid #ffcc00;
    padding-left: 26px;
    background: #fff;
    box-shadow: none;
    outline: 0;
}

.header-bottomline-search>input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
}

.header-bottomline-search>input::-moz-placeholder {
    color: #fff;
    font-size: 16px;
}


/* Firefox 19+ */

.header-bottomline-search>input:-moz-placeholder {
    color: #fff;
    font-size: 16px;
}


/* Firefox 18- */

.header-bottomline-search>input:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
}

.header-bottomline-search>input:focus::-webkit-input-placeholder {
    color: #000;
    font-size: 16px;
}

.header-bottomline-search>input:focus::-moz-placeholder {
    color: #000;
    font-size: 16px;
}


/* Firefox 19+ */

.header-bottomline-search>input:focus:-moz-placeholder {
    color: #000;
    font-size: 16px;
}


/* Firefox 18- */

.header-bottomline-search>input:focus:-ms-input-placeholder {
    color: #000;
    font-size: 16px;
}

footer {
    width: 100%;
    height: 120px;
    background: #575757;
    padding: 0 38px;
    float: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

footer>.coryright {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #fff;
    width: 260px;
    text-align: left;
    float: left;
}

footer>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer>ul>li {
    margin-right: 20px;
    float: left;
}

footer>ul>li:after {
    content: '';
    border-right: 1px solid #e6e6e6;
}

footer>ul>li>a {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}

@media screen and (max-width: 1200px) {
    .header-bottomline-contact {
        background: #b6b6b6;
        text-align: center;
        color: #575757;
        white-space: nowrap;
    }
}

@media screen and (min-width: 768px) {
    .desktop-hidden {
        display: none!important;
        visibility: hidden!important;
    }
    .menu-icon-tablet {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
        width: 100%;
    }
    .header-fixed {
        position: fixed!important;
        z-index: 4;
        background: #fff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    }
    header {
        min-height: 120px;
        overflow: hidden;
    }
    .header-scrolled {
        display: none;
    }
       .menu-gamburger-cat-wrapper {
        width: 100%;
        height: 360px;
    overflow-y: scroll;
        top: 120px;
        background: #575757;
    }
    .menu-gamburger-cat>li {
        width: 100%;
        height: 60px;
        border: 1px solid #626262;
    }
    .menu-gamburger-cat>li>a {
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        align-items: center;
        justify-content: center;
    }
    .menu-gamburger-cat>li>a>img {
        width: auto;
        height: 80%;
        margin-top: -20px;
    }
    .catalog-menu-mini.bg1 {
        background-position: center;
    }
    .catalog-menu-mini.bg2 {
        background-position: center;
    }
    .catalog-menu-mini>span {
        visibility: hidden;
    }
    .header-logo {
        width: 15%;
        min-height: 120px;
    }
    .header-top-contact {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-top-contact>p {
        display: none;
    }
    .header-topline-nav {
        width: 39%;
    }
    .header-topline-nav-menu {
        display: none;
    }
    .header-topline-nav-account {
        width: 70%;
    }
    .header-topline-nav-account-register>a,
    .header-topline-nav-account-login>a {
        font-size: 14px!important;
    }
    .header-topline-wishlist_mini {
        width: 8%;
    }
    .header-topline-cart_mini {
        width: 8%;
    }
    .header-topline-wishlist_full-link>img {
        width: 100%;
    }
    .header-topline-cart_mini>.header-topline-cart-counter {
        display: none;
    }
    .header-topline-cart-link>img {
        width: 100%;
    }
    .header-bottomline-search>input {
        width: 86%;
    }
    .catalog-menu-mini {
        width: 30%;
        font-size: 16px!important;
    }
    .mini-search {
        width: 55%;
    }
    .form-wrapper {
        padding: 80px 5% 130px 5%;
    }
    .reg-social {
        width: 47%;
        padding: 0 7%;
    }
    .tablet-hidden {
        display: none;
        visibility: hidden;
    }
    footer {
        height: 90px;
    }
    .menu-icon-tablet {
        float: right;
        display: block;
        position: relative;
        width: 100%;
    }
    .menu-icon-tablet>img {
        float: right;
    }
    .menu-icon-tablet:hover ul {
        display: block;
    }
    .menu-icon-tablet>ul {
        display: none;
    }
    .menu-icon-tablet>ul {
        position: absolute;
        right: 0;
        bottom: 75px;
        list-style: none;
        padding: 20px;
        margin: 0;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    }
    .menu-icon-tablet>ul>li>a {
        color: #575757;
        text-decoration: none;
    }
    .menu-icon-tablet>ul>li>a:focus {
        text-decoration: underline;
    }
}

@media screen and (min-width: 320px) {
    .footer-social-mob {
        display: none !important;
        visibility: hidden;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 320px;
        width: 100%;
    }
    header {
        min-height: 128px;
    }
    .header-logo {
        width: 40%;
    }
    .header-top-contact {
        display: none;
    }
    .header-topline-nav {
        width: 20%;
        height: 64px;
        background: #575757 url(../img/login.png)center no-repeat;
    }
    .header-topline-nav-account {
        display: none;
    }
    .header-topline-wishlist_mini {
        width: 20%;
        height: 64px;
    }
    .header-topline-cart_mini {
        width: 20%;
        height: 64px;
    }
    .catalog-menu-mini {
        width: 20%;
        height: 64px;
        overflow: hidden;
        float: right;
    }
    .mini-search {
        width: 40%;
        height: 64px;
        background: #ffcc00 url(../img/search.png)center no-repeat;
    }
    .header-topline-wishlist_full-link {
        background: #cdcdcf;
        padding-left: 0;
    }
    .mob-hidden {
        display: none!important;
        visibility: hidden;
    }
    .mob-visible {
        display: block!important;
        visibility: visible;
        !important;
    }
    .header-bottomline-search>input {
        display: none;
    }
    .mini-search:hover input {
        display: block;
    }
    .header-bottomline-search:hover>input {
        width: 100%;
        position: absolute;
        background: #fedf22;
        height: 64px;
        right: 0;
        top: 128px;
        color: #000;
    }
    .breadcrumb {
        display: none;
    }
    .form-wrapper {
        padding: 30px;
    }
.form-wrapper>.register {
    width: 100%;
    margin-bottom: 30px;
}
.form-wrapper>.login {
    width: 100%;
    display: block;
    float: left;
}
.reg-social {
    width: 66%;
    padding: 0 7%;
}










    .footer-social-mob {
        width: 100%;
        height: 65px;
        display: block;
        position: relative;
        float: left;
        background: #575757;
    }
    .footer-social-mob>ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        height: 65px;
    }
    .footer-social-mob>ul>li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        float: left;
        width: 25%;
    }
    .footer-social-mob>ul>li>a>img {
        height: 20px;
        display: block;
        margin: 0 auto;
    }
    .bottom-main-cat {
        display: none;
    }
    .bottom-main-cat-container {
        display: none;
    }
    footer {
        display: none;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
