/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header {
    min-height: 360px;
}

.scrolled {
    max-width: 100%;
    width: 100%;
    height: 120px;
    background: #fff;
    display: block;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 9;
}

.scrolled>.header-logo {
    min-height: 120px;
}

.header-topline {
    width: 100%;
    min-height: 60px;
}

.header-topline-social {
    width: 20%;
    height: 60px;
    display:block;
    float: left;
    padding: 19px 24px;
    box-sizing: border-box;
}

.header-topline-social-link {
    width: 22%;
    text-align: center;
    display: inline-block;
}

.header-topline-social-link:hover {
    opacity: .7;
}

.header-topline-nav {
    width: 50%;
    height: 60px;
    display: block;
    align-items: center;
    float: left;
    background: #575757;
    font-size: 14px;
    line-height: 18px;
    padding: 20px 0;
    box-sizing: border-box;
}

.header-topline-nav-menu {
    width: 65.5%;
    height: 20px;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.header-topline-nav-menu-link {
    width: 24%;
    float: left;
    text-align: center;
}

.header-topline-nav-menu-link>a {
    color: #fff;
    text-decoration: none;
}

.header-topline-nav-menu-link>a:hover {
    color: #ffe023;
    text-decoration: underline;
}

.header-topline-nav-account {
    width: 34.5%;
    height: 20px;
    display: block;
        float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-topline-nav-account-register {
    width: 60%;
    text-align: center;
    border-right: 2px solid #fff;
        display: inline-block;
}

.header-topline-nav-account-login {
    width: 36%;
    text-align: center;
        display: inline-block;
}

.header-topline-nav-account-register>a,
.header-topline-nav-account-login>a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}

.header-topline-nav-account-register>a:hover,
.header-topline-nav-account-login>a:hover {
    color: #ffe023;
    text-decoration: underline;
}

.header-topline-wishlist_full {
    width: 15%;
    height: 60px;
    background: #cdcdcf;
    float: left;
    display: block;
    align-items: center;
    position: relative;
    padding: 20px 0;
    box-sizing: border-box;
}

.header-topline-wishlist_full-link {
    background: url(../img/wishlist_full.png)-2px center no-repeat;
    line-height: 18px;
    color: #575757;
    text-decoration: none;
    padding-left: 50px;
}

.header-fixed.scrolled>.header-topline-wishlist_mini>.header-topline-wishlist_full-link {
    background: none;
    padding-left: 0;
}

.header-topline-wishlist_full-link>img {
    height: 100%;
}

.header-topline-wishlist_full-link:hover {
    opacity: .7;
}

.header-topline-wishlist_helper>img {
    height: 60px;
}

.header-topline-wishlist_helper {
    width: 35%;
    float: right;
    position: absolute;
    right: -10px;
    top: 0;
}

.header-topline-wishlist_helper:hover .header-topline-wishlist_helper_tooltip {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.header-topline-wishlist_helper_tooltip {
    visibility: hidden;
    position: absolute;
    top: 48px;
    margin-left: -222px;
    width: 328px;
    height: 188px;
    background: #fff;
    font-size: 12px;
    color: #575757;
    padding: 10px 22px;
    border: 1px solid #e4e4e4;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.header-topline-wishlist_helper_tooltip:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 233px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.5px 8px 6.5px;
    border-color: transparent transparent #ffffff transparent;
}

.header-logo {
    width: 20%;
    min-height: 240px;
    height: 100%;
    float: left;
    position: relative;
}

.header-logo>a>.logo {
    width: 100%;
    height: 100%;
}

.header-logo-mini {
    width: 10%;
    float: left;
    background: #fff;
}

.header-logo>a>img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.header-logo>a:hover {
    opacity: .7;
}

.header-logo-location-link {
    display: block;
    text-align: center;
    padding: 14px;
    font-size: 14px;
    color: #575757;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
}

.header-topline-cart {
    width: 15%;
    height: 60px;
    float: left;
    display: block;
    background: #fedf22 url(../img/cart.png)center left no-repeat;
    position: relative;
    text-align: center;
        padding: 20px 0;
    box-sizing: border-box;
}

.header-topline-cart-link {
    font-size: 14px;
    color: #575757;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.header-topline-cart-link>img {
    height: 100%;
}

.header-topline-cart-link:hover {
    text-decoration: underline;
}

.header-topline-cart-counter {
    width: 21px;
    height: 21px;
    background: #e83c4e;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    margin: 8px 8px 34px 8px;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
}

.header-category {
    width: 80%;
    height: auto;
    float: left;
}

.header-category-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-category-list>li {
    width: 12.5%;
    height: 120px;
    border: 1px solid #e6e6e6;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}

.header-category-list>li>a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #6a6a6a;
    text-decoration: none;
}

.header-category-list>li>a>img {
    width: 100%;
}

.header-category-list>li>a>span {
    font-size: 48px;
    font-size: 3.3em;
}

.header-category-list>li:hover .header-category-list-more {
    display: block;
    text-decoration: none!important;
}

.header-category-list>li>a>p {
    font-size: 14px;
    line-height: 16px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-category-list>li>a:hover p {
    visibility: hidden;
}

.header-category-list>li:last-child>a:hover p {
    visibility: visible;
}

.header-category-list-more {
    margin-top: -15px;
    position: absolute;
    display: none;
    width: 50%;
    z-index: 2;
    background: #fff;
    padding: 0 27px 0 36px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.header-category-list-more-product-lefttab {
    width: 60%;
    height: 100%;
    float: left;
    padding: 16px 0 18px;
    border-right: 1px solid #e6e6e6;
}

.header-category-list-more-product-lefttab-heading {
    font-size: 14px;
    font-weight: bold;
    color: #575757;
    text-align: left;
    margin-bottom: 40px;
}

.header-category-list-more-product-lefttab-list {
    margin: 0;
    padding: 0 0 0 36px;
    text-align: left;
    list-style-image: url(../img/list-img.png);
    list-style-position: outside;
}

.header-category-list-more-product-lefttab-list>li {
    width: 50%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 4px;
}

.header-category-list-more-product-lefttab-list>li>a {
    text-decoration: none;
    color: #6a6a6a;
    font-size: 14px;
    line-height: 14px;
}

.header-category-list-more-product-lefttab-list>li>a:hover {
    text-decoration: underline;
}

.header-category-list-more-product-lefttab-logo_slider {
    padding: 44px 0;
    margin-bottom: 0;
    list-style: none;
    clear: both;
    display: flex;
    align-items: center;
}

.header-category-list-more-product-lefttab-logo_slider>li {
    width: 30%;
    float: left;
    overflow: hidden;
}

.header-category-list-more-product-action {
    width: 39%;
    float: left;
    box-sizing: border-box;
    padding: 16px 0 18px 41px;
}

.header-category-list-more-product-action-close {
    float: right;
}

.header-category-list-more-product-action-heading {
    font-size: 14px;
    font-weight: bold;
    color: #575757;
}

.header-category-list-more-product-action-tovardnya {
    margin: 0 auto 16px;
    display: block;
    width: 100%;
}

.header-category-list-more-product-action-text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #575757;
}

.header-category-list-more-product-action-text-line {
    margin: 31px 0;
}

.header-category-list-more-product-action-priceblock {
    margin: 0;
    text-decoration: center;
    font-size: 18px;
    color: #575757;
}

.header-category-list-more-product-action-priceblock>.price {
    font-size: 36px;
    font-weight: bold;
}

.header-bottomline {
    width: 100%;
    height: 60px;
    float: left;
}

.header-bottomline-contact {
    width: 20%;
    height: 60px;
    float: left;
    background: #b6b6b6 url(../img/contact.png)right no-repeat;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 18px;
    color: #575757;
}

.header-top-contact {
    white-space: nowrap;
    width: 20%;
    height: 60px;
    float: left;
    text-align: center;
    background: #ffcc00;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    color: #575757;
}

.header-top-contact>a {
    font-size: 18px;
    line-height: 18px;
    color: #575757;
    text-decoration: none;
}

.header-top-contact>a:hover {
    text-decoration: underline;
    opacity: .7;
}

.header-top-contact>p {
    margin: 0;
}

.header-topline-wishlist_mini {
    width: 10%;
    height: 60px;
    background: #cdcdcf;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-topline-cart_mini {
    width: 10%;
    height: 60px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fedf22;
}

.header-topline-cart_mini>.header-topline-cart-counter {
    top: 0;
    right: 0;
    position: absolute;
}

.catalog-menu-mini {
width: 20%;
    height: 60px;
    float: left;
    display: inline-block;
    text-align: right;
    font-size: 16px;
    color: #575757;
    transition: all .2s linear;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.catalog-menu-mini.bg1 {
    background: #e6e6e6 url(../img/menu-icon-hamburger.png) left center no-repeat;
}

.catalog-menu-mini.bg2 {
    background: #e6e6e6 url(../img/menu-icon-hamburger-close.png) left center no-repeat;
    //color:#e6e6e6;
}

.menu-gamburger-cat-wrapper {
    position: absolute;
    right: 0;
    top: 60px;
    width: 80%;
    background: white;
    z-index: 12;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.menu-gamburger-cat-wrapper>.menu-gamburger-cat {
    display: block;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-gamburger-cat>li {
    width: 12.5%;
    height: 120px;
    border: 1px solid #e6e6e6;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}
.menu-gamburger-cat>li:last-child>a>span{
    color: #575757;
}
.menu-gamburger-cat>li:last-child>a>p{
    color: #575757;
}
.menu-gamburger-cat>li>a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #6a6a6a;
    text-decoration: none;
}
.menu-gamburger-cat>li>a:active{
    background: #6f6f6f;
}
.menu-gamburger-cat>li>a>img {
    width: 100%;
}

.menu-gamburger-cat>li>a>p {
    margin: 0;
}

.menu-gamburger-cat>li>a>span {
    font-size: 48px;
    font-size: 3.3em;
}

.header-bottomline-contact>a {
    font-size: 16px;
    line-height: 18px;
    color: #575757;
    text-decoration: none;
}

.header-bottomline-contact>a>span {
    font-size: 18px;
}

.header-bottomline-contact>a:hover {
    text-decoration: underline;
    opacity: .7;
}

.header-bottomline-contact>p {
    margin: 0;
}

.header-bottomline-search {
    width: 80%;
    height: 60px;
    float: left;
    background: #ffcc00 url(../img/search.png)right no-repeat;
}

.mini-search {
    width: 70%;
}

.header-bottomline-search>input {
    width: 94%;
    height: 98%;
    background: transparent;
    padding-left: 36px;
    color: #fff;
    font-size: 16px;
    border-style: none;
    box-sizing: border-box;
}

.header-bottomline-search>input:focus {
    border: 10px solid #ffcc00;
    padding-left: 26px;
    background: #fff;
    box-shadow: none;
    outline: 0;
}

.header-bottomline-search>input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
}

.header-bottomline-search>input::-moz-placeholder {
    color: #fff;
    font-size: 16px;
}


/* Firefox 19+ */

.header-bottomline-search>input:-moz-placeholder {
    color: #fff;
    font-size: 16px;
}


/* Firefox 18- */

.header-bottomline-search>input:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
}

.header-bottomline-search>input:focus::-webkit-input-placeholder {
    color: #000;
    font-size: 16px;
}

.header-bottomline-search>input:focus::-moz-placeholder {
    color: #000;
    font-size: 16px;
}


/* Firefox 19+ */

.header-bottomline-search>input:focus:-moz-placeholder {
    color: #000;
    font-size: 16px;
}


/* Firefox 18- */

.header-bottomline-search>input:focus:-ms-input-placeholder {
    color: #000;
    font-size: 16px;
}

.home-slider {
    width: 80%;
    height: 360px;
    float: left;
    background: #ededed;
    position: relative;
    overflow: hidden;
}

.home-slider .one-img {
    background: #ededed url(../img/home-desktop-slider.jpg)center no-repeat;
}

.home-slider .two-img {
    background: #ededed url(../img/slider-bg.jpg)center no-repeat;
}

.home-slider .two-img>.slider-content {
    margin: 0 50%;
}

.slider-nav {
    position: absolute;
    display: flex;
    align-items: center;
    width: 18.33%;
    height: 86%;
    margin-left: 1.4%;
}

.slick-dots {
    display: block;
    position: absolute;
    top: 36%;
    left: 20px;
    padding: 0;
    list-style: none;
}

.slick-dots>li>button {
    width: 11px;
    height: 14px;
    border: 1px solid #575757;
    border-radius: 50%;
    color: transparent;
    background: #e6e6e6;
}

.slider-nav>ul {
    margin: 0;
    list-style-type: circle;
}

.slick-slide {
    min-height: 320px;
}

.slider-nav>ul>li {
    font-size: 32px;
    line-height: 22px;
    color: #a0a0a0;
}

.slider-content {
    width: 50%;
    height: 320px;
    margin: 0 auto;
}

.slider-content-heading {
    margin: 57px 0 0px;
    font-size: 36px;
    line-height: 48px;
    color: #575757;
    font-weight: bold;
}

.slider-content-text {
    margin: 0 0 168px 0;
    font-size: 18px;
    line-height: 18px;
    color: #575757;
}

.slider-content-btn {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    padding: 20px 42px;
    background: #ffcc00;
}

. //slider-content-btn:hover{
color: #ffcc00;
border: 1px solid #ffcc00;
background: transparent;

}
.slider-item {
    float: left;
    width: 80%;
}
.slider-item>img {
    height: 100%;
}
.delivery {
    width: 20%;
    height: 180px;
    float: left;
    background: #fffb73;
}
.delivery>img {
    margin: 0 auto;
    display: block;
}
.delivery-heading {
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 18px;
    color: #575757;
    text-align: center;
}
.delivery-text {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    color: #575757;
    text-align: center;
}
.pay {
    width: 20%;
    height: 180px;
    float: left;
    background: #ffe473;
}
.pay>img {
    margin: 0 auto;
    display: block;
}
.pay-heading {
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 18px;
    color: #575757;
    text-align: center;
}
.pay-text {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    color: #575757;
    text-align: center;
}
.switcher {
    width: 20%;
    height: 320px;
    float: left;
    padding: 38px 40px;
    box-sizing: border-box;
    background: #ffcc00;
}
.switcher-heading {
    font-size: 18px;
    height: 46px;
    color: #fff;
    text-align: left;
    margin: 0 0 46px 0;
}
.switcher>hr {
    border-top: 1px solid #fff;
    margin: 0 0 44px 0;
}
.togglebox input {
    display: none;
}
.togglebox {
    display: inline-block;
    float: left;
    width: 28px;
    height: 96px;
    position: relative;
    border-radius: 20px;
    color: #FFF;
    font-weight: bold;
    overflow: hidden;
}
.togglebox label {
    width: 30px;
    height: 100%;
    line-height: 200%;
    border-radius: 0.4em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 1.1em;
    cursor: pointer;
    -webkit-transition: height 0.12s;
    -moz-transition: height 0.12s;
    transition: height 0.12s;
}
.togglebox span {
    position: absolute;
    top: -110px;
}
.togglebox label::after {
    content: '';
    width: 30px;
    height: 100px;
    float: left;
    padding-top: 20px;
    padding-right: 13px;
    text-align: center;
    background: #bfa330;
    margin-top: -20px;
}
.togglebox label b {
    display: block;
    height: 28px;
    width: 28px;
    float: left;
    position: relative;
    z-index: 1;
    background: #Fff;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: 0px;
}
.togglebox label::before {
    content: '';
    width: 30px;
    float: left;
    height: 100px;
    padding-top: 0px;
    padding-left: 0px;
    text-align: center;
    background: #bfa330;
    margin-top: -80px;
}
.togglebox input:checked ~ label {
    top: 68px;
}
.switcher-populare-product,
.switcher-new-arrival {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 24px 50px;
}
.pcard-h {
    width: 40%;
    height: 320px;
    float: left;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: 10px 10px 10px 36px;
    position: relative;
}
.pcard-h-brand {
    width: 96%;
    height: 25px;
    display: block;
    float: right;
    background: url(../img/odeonlight.png)top right no-repeat;
    background-size: contain;
}
.pcard-h-product-view {
    margin: 0 auto;
    display: block;
    width: 60%;
}
.pcard-h>hr {
    margin: 41px 0 23px;
    border-top: 1px solid #e6e6e6;
}
.pcard-h-bottom {
    width: 90%;
    height: 72px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 5%;
    padding: 15px 0 15px;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
}
.pcard-h-bottom>.pcard-h-text {
    width: 50%;
}
.pcard-h-bottom>.pcard-h-priced {
    width: 50%;
}
.pcard-h-text {
    width: 100%;
    float: left;
    font-size: 16px;
    line-height: 18px;
    color: #575757;
    margin: 0;
}
.pcard-h-priced {
    width: 100%;
    float: right;
    font-size: 18px;
    line-height: 30px;
    color: #575757;
    margin: 0;
    font-weight: bold;
    text-align: right;
}
.product-text-block-right>.pcard-h-priced {
    text-align: left;
    white-space: nowrap;
}
.pcard-h-priced>.price {
    font-size: 36px;
}
.pcard-h:hover {
    cursor: pointer;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.pcard-h-hover {
    z-index: 2;
    display: none;
    width: 100%;
    height: 320px;
    float: left;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    background: #fff;
}
.pcard-h-hover>.pcard-h-brand {
    margin: 10px 10px 0 0;
}
.pcard-h:hover .pcard-h-hover {
    display: block;
    position: relative;
}
.pcard-h-hover>.image-block-left {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
}
.pcard-h-product-image {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.product-text-block-right {
    width: 50%;
    float: right;
    padding: 32px 40px 0 22px;
    box-sizing: border-box;
}
.product-text-block-right>.pcard-h-text {
    height: 99px;
}
.pcard-v {
    width: 20%;
    height: 320px;
    float: left;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}
.pcard-v-img {
    display: block;
    margin: 0 auto;
    width: auto;
    width: 100%;
    max-height: 168px;
}
.pcard-v-text {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #575757;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 95px;
}
.pcard-v-price {
    white-space: nowrap;
    position: absolute;
    font-size: 16px;
    line-height: 30px;
    color: #575757;
    margin: 0px 10%;
    font-weight: bold;
    text-align: center;
    width: 80%;
    height: 74px;
    bottom: 0;
    padding: 23px 10px;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
}
.pcard-v-price>.price {
    font-size: 36px;
}
.pcard-v-brand {
    height: 15px;
    float: right;
    display: block;
    width: 100%;
    max-width: 240px;
    margin: 10px 10px 0 0;
}
.idlamp {
    background: url(../img/idLamp-logo.png)center right no-repeat;
}
.empty {
    background: none;
}
.pcard-v-brand>img {
    height: 100%;
    display: block;
}
.pcard-v-bestprice {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    line-height: 30px;
    color: #575757;
    margin: 0 10px 10px 10px;
    width: 93%;
    font-weight: bold;
    text-align: center;
    padding: 2px 0 9px;
    background: #ffcc00 url(../img/corner-grey.jpg)right bottom no-repeat;
}
.pcard-v-bestprice>.bestprice {
    font-weight: normal;
    display: block;
}
. //pcard-v-bestprice:before {
position: absolute;
margin-top: 56px;
margin-left: 89px;
content: '';
width: 0;
height: 0;
border-style: solid;
border-width: 21px 21px 0 0;
border-color: #575757 transparent transparent transparent;

}
. //pcard-v-bestprice:after {
float: right;
margin-top: 27px;
content: '';
width: 0;
height: 0;
border-style: solid;
border-width: 0 0 21px 21px;
border-color: transparent transparent #ffffff transparent;

}
.pcard-v-bestprice>.price {
    font-size: 36px;
}
.pcard-v:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.pcard-v-hover {
    display: none;
}
.pcard-v:hover .pcard-v-hover {
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    z-index: 2;
}
.pcard-v-img-fleft {
    display: block;
    height: 139px;
    float: left;
    margin: 0;
}
.pcard-v-hover-topblock>.pcard-v-brand {
    margin: 0;
}
.pcard-v-hover-topblock>.pcard-v-img-fleft {
    margin: 0;
}
.pcard-v-text-hover {
    text-align: left;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0px;
    color: #575757;
    margin: 38px 0 43px;
    clear: right;
    width: 119px;
    float: right;
}
.pcard-v-price-hover {
    font-size: 12px;
    line-height: 14px;
    color: #575757;
    margin: 0;
    font-weight: bold;
    text-align: right;
    display: block;
    float: right;
}
.pcard-v-price-hover>.price-hover {
    font-size: 24px;
}
.pcard-v-hover-topblock {
    width: 100%;
    height: 200px;
    display: block;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.pcard-v-hover-botblockbtn {
    width: 100%;
    height: 120px;
    display: block;
    float: left;
    position: absolute;
    bottom: 0;
}
.pcard-v-hover-blockbtn {
    width: 100%;
    height: 60px;
    display: block;
    float: left;
    position: absolute;
    bottom: 0;
}
.pcard-v-hover-wishbtn {
    width: 100%;
    height: 60px;
    margin-bottom: 0;
    box-sizing: border-box;
    background: #e6e6e6;
    font-size: 18px;
    color: #575757;
    font-weight: bold;
}
.pcard-v-hover-buybtn {
    width: 100%;
    height: 60px;
    margin-bottom: 0;
    box-sizing: border-box;
    background: #ffcc00;
    font-size: 18px;
    color: #575757;
    font-weight: bold;
}
.pcard-v-hover-wishbtn>span {
    padding-left: 20px;
}
.pcard-v-hover-wishbtn>span>a {
    color: #575757;
}
.pcard-v-hover-wishbtn>span>a:hover {
    text-decoration: underline;
}
.pcard-v-hover-buybtn>span {
    padding-left: 20px;
}
.pcard-v-hover-buybtn>span>a {
    color: #575757;
}
.pcard-v-hover-buybtn>span>a:hover {
    text-decoration: underline;
}
.pcard-v-discount {
    width: 240px;
    height: 320px;
    float: left;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: 10px;
}
.discount {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    margin: 0 10px 10px 10px;
    width: 93%;
    font-weight: bold;
    text-align: center;
    padding: 2px 0 9px;
    background: #575757 url(../img/corner-yellow.jpg)right bottom no-repeat;
}
.discount>.discount-pricetext {
    font-weight: normal;
    display: block;
    color: #ffcc00;
    font-size: 14px;
}
./discount:before {
    position: absolute;
    margin-top: 56px;
    margin-left: 89px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 21px 21px 0 0;
    border-color: #ffcc00 transparent transparent transparent;
}
./discount:after {
    float: right;
    margin-top: 27px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 21px 21px;
    border-color: transparent transparent #ffffff transparent;
}
.discount>.price {
    font-size: 36px;
    color: #ffcc00;
}
.pcard-v-oldprice {
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #575757;
    bottom: 40px;
    position: absolute;
    margin-top: 5px;
    left: 20%;
}
.pcard-v-oldprice:after {
    content: '';
    width: 30px;
    height: 0px;
    border: 1px solid #575757;
    display: block;
    transform: rotate(-35deg);
    position: absolute;
    margin-left: 13px;
    margin-top: -9px;
}
.category {
    width: 100%;
    height: 320px;
    float: left;
}
.cat-block {
    width: 60%;
    height: 320px;
    float: left;
    position: relative;
    background-size: cover!important;
}
.cat-block-kuhnya {
    background: #dedede url(../img/kuhnya.jpg)center no-repeat;
}
.cat-block-spalnya {
    background: #dedede url(../img/spalnya.jpg)center no-repeat;
}
.cat-block-gostinnaya {
    background: #dedede url(../img/gostinnaya.jpg)center no-repeat;
}
.cat-block-more {
    font-size: 16px;
    line-height: 20px;
    color: #575757;
    margin: 20px 40px 0;
    text-align: left;
    float: right;
}
.cat-block-more:hover {
    cursor: pointer;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
    color: #575757;
    font-size: 14px;
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
}
.circle>.fa {
    background: #fff86d;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    display: block;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    cursor: pointer;
    padding: 9px;
}
.fa-plus-circle,
.fa-times-circle {
    color: #fff86d;
    font-size: 36px!important;
}
.cat-catalog {
    display: none;
    width: 240px;
    height: 320px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    margin-left: -107px;
    margin-top: 18px;
    z-index: 2;
    position: absolute;
}
.cat-catalog>hr {
    margin: 26px auto 20px;
    width: 143px;
    border-top: 1px solid #e6e6e6;
}
.cat-catalog>.cat-catalog-price {
    font-size: 14px;
    line-height: 18px;
    color: #575757;
    margin: 0;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 80%;
    padding-top: 20px;
    margin: 20px 10%;
    border-top: 1px solid #e6e6e6;
}
.cat-catalog>.cat-catalog-price>span {
    font-size: 36px;
}
.cat-catalog-link {
    width: 100%;
    height: 55px;
    background: #fff86d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    color: #575757;
}
.cat-catalog-text {
    font-size: 14px;
    line-height: 16px;
    color: #575757;
    text-align: center;
    display: block;
    margin: 0;
}
.cat-block>img {
    height: 70px;
    position: absolute;
    bottom:0px;
    right: 0;
}
.faq-block {
    width: 20%;
    height: 320px;
    float: left;
    background: #fffb73;
}
.faq-block>h1 {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #575757;
    display: block;
    text-align: center;
    margin: 40px 0;
}
.faq-block>p {
    font-size: 14px;
    line-height: 16px;
    color: #575757;
    text-align: left;
    margin: 0 0 34px 60px;
}
.faq-block>img {
    margin-left: 27px;
    float: left;
}
.faq-block>a {
    font-size: 14px;
    line-height: 14px;
    color: #7e7e7e;
    display: block;
    text-align: center;
    margin: 40px 0;
}
.faq-block>a:hover {
    text-decoration: underline;
}
.videoguide {
    width: 20%;
    height: 320px;
    float: left;
    position: relative;
    background: #ffe473 url(../img/videoguide.jpg)center no-repeat;
}
.videoguide>h1 {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #575757;
    display: block;
    text-align: center;
    margin: 40px 0 30px;
}
.videoguide>a {
    font-size: 14px;
    line-height: 14px;
    color: #575757;
    display: block;
    text-align: center;
    margin: 25px auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.videoguide>a:hover {
    text-decoration: underline;
}
.infinite-scroll {
    width: 100%;
    height: 70px;
    display: block;
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #575757;
    border-bottom: 1px solid #e6e6e6;
    padding: 28px 0;
    box-sizing: border-box;
}
.infinite-scroll:hover {
    cursor: pointer;
    text-decoration: underline;
}
.main-bottom {
    width: 100%;
    height: 300px;
    display: block;
    float: left;
    background: url(../img/main-bottom.jpg)center no-repeat;
    background-size: cover;
}
.main-bottom>h2 {
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 38px auto 38px;
}
.detail-list-icon {
    width: 100%;
    height: 72px;
    margin: 0 auto;
    padding: 0 60px;
    display: block;
    box-sizing: border-box;
}
.detail-list-icon>li {
    list-style-type: none;
    float: left;
    text-align: center;
    width: 11%;
}
.detail-list-icon>li>img {
    margin-bottom: 24px;
    width: 49%;
}
.detail-list-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    font-style: italic;
    color: #575757;
    width: 100%;
    height: auto;
    float: left;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}
.detail-list-text>li {
    width: 20%;
    float: left;
}
.bottom-main-cat-menu {
    width: 100%;
    float: left;
    padding: 50px 40px 29px;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
}
.bottom-main-cat-menu:last-child {
    border-bottom: 0;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.bottom-main-cat-menu>h3 {
    font-size: 15px;
    line-height: 24px;
    color: #575757;
    text-align: left;
    margin: 0 0 38px 0;
    padding: 0;
}
.bottom-main-cat-menu>ul {
    font-size: 16px;
    line-height: 18px;
    color: #7e7e7e;
    text-align: left;
    margin: 0 0 38px 0;
    padding: 0;
    list-style-image: url(../img/list-img.png);
    list-style-position: outside;
}
.bottom-main-cat-menu>ul>li {
    margin-left: 25px;
    padding-left: 0px;
    margin-bottom: 18px;
}
.bottom-main-cat-menu>ul>li>a {
    color: #7e7e7e;
}
.bottom-main-cat-menu>ul>li>a:hover {
    text-decoration: underline;
}
.bottom-main-cat-container {
    width: 25%;
    min-height: 880px;
    float: left;
    border-right: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.bottom-main-cat {
    width: 100%;
    height: 70px;
    display: block;
    float: left;
    border-bottom: 1px solid #e6e6e6;
}
.bottom-main-cat>h3 {
    display: block;
    font-size: 18px;
    line-height: 34px;
    font-weight: bold;
    color: #575757;
    text-align: center;
}
.bottom-main-cat>p {
    font-size: 16px;
    float: right;
    color: #7e7e7e;
    text-align: right;
    margin-right: 20px;
    font-weight: normal;
    margin-top: -48px;
}
footer {
    width: 100%;
    height: 120px;
    background: #575757;
    padding: 50px 38px;
    float: left;
    display: block;
    box-sizing: border-box;
}
footer>.coryright {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #fff;
    width: 260px;
    text-align: left;
    float: left;
}
footer>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer>ul>li {
    margin-right: 20px;
    float: left;
}
footer>ul>li:after {
    content: '';
    border-right: 1px solid #e6e6e6;
}
footer>ul>li>a {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {}
@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}
@media screen and (max-width: 1200px) {
    .header-bottomline-contact {
        background: #b6b6b6;
        text-align: center;
        color:#575757;
        white-space: nowrap;
    }
    .header-topline-wishlist_full-link{
font-size: 14px;
    background-position-x: -8px;
    padding-left: 40px;
    }
    .faq-block>img {
    margin-left: 7px;
}
.faq-block>p{
    margin-left: 40px;
}
}
@media screen and (min-width: 768px) {
    .header-fixed {
        display: none;
    }
    .desktop-hidden {
        display: none!important;
        visibility: hidden!important;
    }
    .menu-icon-tablet {
        display: none;
        visibility: hidden;
    }
    footer>.coryright{
    font-size: 16px;
        width: 20%;
    }
    footer>ul>li>a{
        font-size: 16px;
            margin-right: 10px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
        width: 100%;
    }
    .header-fixed {
        position: fixed!important;
        z-index: 4;
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    }
    header {
        min-height: 120px;
        overflow: hidden;
    }
    .header-scrolled {
        display: none;
    }
    .menu-gamburger-cat-wrapper {
        width: 100%;
        height: 360px;
    overflow-y: scroll;
        top: 120px;
        background: #575757;
    }
    .menu-gamburger-cat>li {
        width: 100%;
        height: 60px;
        border: 1px solid #626262;
    }
    .menu-gamburger-cat>li>a {
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        align-items: center;
        justify-content: center;
    }
    .menu-gamburger-cat>li>a>img {
        width: auto;
        height: 80%;
        margin-top: -20px;
    }
    .catalog-menu-mini.bg1 {
        background-position: center;
    }
    .catalog-menu-mini.bg2 {
        background-position: center;
    }
    .catalog-menu-mini>span {
        visibility: hidden;
    }
    .header-top-contact>a {
        font-size: 3vw;
    }
    .header-logo {
        width: 15%;
        min-height: 120px;
        display: flex;
        align-items: center;
    }
    .header-top-contact {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-top-contact>p {
        display: none;
    }
    .header-topline-nav {
        width: 39%;
    }
    .header-topline-nav-menu {
        display:none;
    }
    .header-topline-nav-account {
        width: 100%;
    }
    .header-topline-nav-account-register>a,
    .header-topline-nav-account-login>a {
        font-size: 3vw!important;
    }
    .header-topline-wishlist_mini {
        width: 8%;
    }
    .header-topline-cart_mini {
        width: 8%;
    }
    .header-topline-wishlist_full-link>img {
        width: 100%;
    }
    .header-topline-cart_mini>.header-topline-cart-counter {
        display: none;
    }
    .header-topline-cart-link>img {
        width: 100%;
    }
    .header-bottomline-search>input {
        width: 80%;
    }
    .header-bottomline-search>input::placeholder {
        font-size: 3vw!important;
    }
    .catalog-menu-mini {
        width: 30%;
        font-size: 16px!important;
    }
    .mini-search {
        width: 55%;
    }
    .slider-item {
        float: left;
        width: 100%;
    }
    .slider-nav {
        display: none!important;
        visibility: hidden!important;
    }
    .slider-content {
        width: 70%;
        max-width: 70%;
        height: auto;
        position: absolute;
        padding: 0;
        margin: 0px 9%;
        box-sizing: border-box;
    }
    .home-slider {
        //height: 367px;
        width: 100%;
    }
    .home-slider>.slick-list>.slick-track>.slick-slide {
        height: 367px!important;
        min-height:367px!important;
    }
    .slick-dots {
        display: none!important;
        visibility: hidden!important;
    }
    .delivery {
        width: 50%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pay {
        width: 50%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .delivery-heading {
        margin: 0;
        font-size: 18px;
    }
    .pay-heading {
        margin: 0;
        font-size: 18px;
    }
    .delivery-text {
        display: none;
    }
    .pay-text {
        display: none;
    }
    .delivery>img {
        float: left;
        margin: 0;
    }
    .pay>img {
        float: left;
        margin: 0;
    }
    .category {
        width: 100%;
        height: auto;
        float: left;
    }
    .cat-block {
        width: 100%;
    }
    .faq-block {
        width: 50%;
        height: 80px;
    }
    .videoguide {
        width: 50%;
        height: 80px;
        background: #ffe473!important;
    }
    .faq-block>p {
        display: none;
    }
    .videoguide>a {
        display: none;
    }
    .faq-block>h1 {
        font-size: 16px!important;
        margin: 0;
        display: block;
        width: 56%;
        height: 20px;
        background: url(../img/help.png)left center no-repeat;
    }
    .videoguide>h1 {
        font-size: 16px!important;
        margin: 0;
        display: block;
        width: 56%;
        height: 20px;
        background: url(../img/videoguide-play.png)left center no-repeat;
    }
    .videoguide>h1 {
        font-size: 16px!important;
        margin: 0;
    }
    .faq-block>img {
        display: none;
    }
    .faq-block>a {
        display: none;
    }
    .faq-block {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .videoguide {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pcard-v {
        width: 100%;
    }
    .pcard-v-text {
        font-size: 16px;
    }
    .pcard-v-price {
        font-size: 16px;
    }
    .pcard-v-price>.price {
        font-size: 30px;
    }
    .pcard-h {
        width: 100%;
    }
    .two-thirds-width {
        width:66.666%;
    }
    .pcard-h-text {
        font-size: 16px;
    }
    .pcard-h-priced {
        font-size: 14px;
    }
    .pcard-h-priced>.price {
        font-size: 24px;
    }
    .pcard-v-bestprice>.price {
        font-size: 30px;
    }
    .pcard-v-bestprice {
        width: 80%;
        font-size: 16px;
    }
    .bottom-main-cat-container {
        width: 33.333%;
        max-height: 900px;
    }
    .switcher {
        width: 33.333%;
    }
    .switcher-heading {
        font-size: 18px!important;
    }
    .switcher-populare-product,
    .switcher-new-arrival {
        font-size: 16px!important;
    }
    .tablet-hidden {
        display: none !important;
        visibility: hidden;
    }
    .detail-list-icon>li {
        width: 20%;
    }
    .detail-list-text>li {
        width: 20%;
        width: 33.33%;
        font-style: normal;
    }
    .home-partial-product-slider {
        display: block;
        float: left;
    }
    /*    .home-partial-product-slider>.slick-list>.slick-track {
        width: 300%!important;
        float: left;
        margin-left: -29.8%;
        height: 320px!important;
        min-height: 320px!important;
    }
    .home-partial-product-slider>.slick-list {
        padding: 0!important;
    }
    .home-partial-product-slider>.slick-list>.slick-track>.slick-slide {
        width: 10%!important;
    }
    .home-partial-product-slider>.slick-list>.slick-track>.slicksliderpluswidth {
        width: 20%!important;
    }
    .home-partial-product-slider>.slick-list>.slick-track>.slicksliderpluswidth>.pcard-h {
        width: 100%!important;
    }*/
    /*    .treeslider>.slick-list>.slick-track {
        width: 374%!important;
        float: left;
        margin-left: -29.8%;
        height: 320px!important;
        min-height: 320px!important;
    }*/
    footer {
        height: 90px;
    }
    .menu-icon-tablet {
        float: right;
        display: block;
        position: relative;
        width: 100%;
    }
    .menu-icon-tablet>img {
        float: right;
    }
    .menu-icon-tablet:hover ul {
        display: block;
    }
    .menu-icon-tablet>ul {
        display: none;
    }
    .menu-icon-tablet>ul {
        position: absolute;
        right: 0;
        bottom: 75px;
        list-style: none;
        padding: 20px;
        margin: 0;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    }
    .menu-icon-tablet>ul>li>a {
        color: #575757;
        text-decoration: none;
    }
    .menu-icon-tablet>ul>li>a:focus {
        text-decoration: underline;
    }
}
@media screen and (min-width: 320px) {
    .cta-call {
        display: none;
    }
    .footer-social-mob {
        display: none !important;
        visibility: hidden;
    }
    .bottom-delivery,
    .bottom-pay {
        display: none !important;
        visibility: hidden;
    }
    .detail-list-mob {
        display: none !important;
        visibility: hidden;
    }
}
@media screen and (max-width: 320px) {
    .container {
        max-width: 320px;
        width: 100%;
    }
    header {
        min-height: 128px;
    }
    .header-logo {
        width: 40%;
    }
    .header-top-contact {
        display: none;
    }
    .header-topline-nav {
        width: 20%;
        height: 64px;
        background: #575757 url(../img/login.png)center no-repeat;
    }
    .header-topline-nav-account {
        display: none;
    }
    .header-topline-wishlist_mini {
        width: 20%;
        height: 64px;
    }
    .header-topline-cart_mini {
        width: 20%;
        height: 64px;
    }
    .catalog-menu-mini {
        width: 20%;
        height: 64px;
        overflow: hidden;
        float: right;
    }
    /*        .catalog-menu-mini>span{
    visibility: hidden;
        }*/
    .mini-search {
        width: 40%;
        height: 64px;
        background: #ffcc00 url(../img/search.png)center no-repeat;
    }
    .header-topline-wishlist_full-link {
        background: #cdcdcf;
        padding-left: 0;
    }
    .mob-hidden {
        display: none!important;
        visibility: hidden;
    }
    .mob-visible {
        display: block!important;
        visibility: visible;
        !important;
    }
    .header-bottomline-search>input {
        display: none;
    }
    .mini-search:hover input {
        display: block;
    }
    .header-bottomline-search:hover>input {
        width: 100%;
        position: absolute;
        background: #fedf22;
        height: 64px;
        right: 0;
        top: 128px;
        color: #000;
    }
    .home-slider {
        max-width: 320px;
        width: 100%;
    }
    /*    .home-partial-product-slider>.slick-list>.slick-track {
    width: 150%!important;
    float: left;
    margin-left: -25%;
    height: 300px!important;
        min-height: 300px!important;
}*/
    /*.slick-slide {
    height: 300px!important;
    min-height: 300px!important;
}
.home-partial-product-slider>.slick-list>.slick-track>.slick-slide {
    width: 100%!important;
}*/
    .slider-content {
        width: 100%;
        max-width: 320px;
        height: auto;
        position: absolute;
        padding-left: 0;
        box-sizing: border-box;
        margin: 0!important;
    }
    .slider-content-heading {
        text-align: center;
        margin: 100px 0 48px;
        line-height: 28px;
    }
    .slider-content-text {
        margin: 0 auto 20px;
        width: 76%;
    }
    .slider-content-btn {
        font-size: 18px;
        line-height: 18px;
        color: #fff;
        padding: 20px 42px;
        background: #ffcc00;
        margin: 0 auto;
        display: block;
        width: 50%;
    }
    .delivery {
        display: none;
    }
    .pay {
        display: none;
    }
    .switcher {
        width: 100%;
        height: 150px;
        padding: 26px;
        position: relative;
    }
    .switcher-heading {
        font-size: 18px!important;
        height: 20px;
        text-align: center;
        margin-bottom: 40px;
    }
    .switcher>hr {
        display: none;
    }
    .switcher-populare-product,
    .switcher-new-arrival {
        font-size: 14px!important;
        margin: 0;
        width: 30%;
    }
    .switcher-populare-product {
        float: left;
    }
    .switcher-new-arrival {
        float: right;
    }
    .pcard-h {
        padding:10px;
    }
    .pcard-h-priced {
        text-align: right;
    }
    .pcard-h-priced>.price {
        font-size: 18px!important;
    }
    .pcard-v-price>.price {
        font-size: 18px;
    }
    .pcard-v-price {
        font-size: 14px;
        width: 100%;
        margin: 0;
        padding: 23px 0px;
    }
    .pcard-v-bestprice {
        font-size: 12px;
    }
    .pcard-v-bestprice>.price {
        font-size: 18px;
    }
    .pcard-h-text {
        font-size: 12px;
        white-space: nowrap;
    }
    .pcard-v-text {
        font-size: 10px;
        line-height: 12px;
    }
    .pcard-v-hover-wishbtn>img {
        display: block;
        margin: 0 auto;
    }
    .pcard-v-hover-buybtn>img {
        display: none;
    }
    .pcard-v-hover-buybtn>span {
        display: none;
    }
    .pcard-h-product-view {
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    .pcard-v-hover-buybtn {
        display: block;
        margin: 0 auto;
        background: #ffcc00 url(../img/cart.png)center no-repeat;
    }
    .pcard-h-bottom {
        height: 82px;
    }
    .togglebox {
        transform: rotate(-90deg);
        float: none;
        margin: 0 40%;
        display: block;
        width: 20px;
        height: 64px;
        position: absolute;
        top: 73px;
    }
    .togglebox label b {
        height: 20px;
        width: 20px;
        margin-top: -20px;
    }
    .togglebox input:checked ~ label {
        top: 44px;
    }
    .pcard-h {
        width: 100%;
    }
    .pcard-v {
        width: 100%;
        height: 300px;
    }
    .wrap-hcard {
        width: 240px;
        height: 320px;
    }
    .wrap-vcard {
        width: 120px;
        height: 320px;
    }
    .cat-block>img {
        height: 43px;
        position: relative;
        margin: 0 auto;
        display: block;
        margin-top: 10%;
    }
    .cat-block {
        width: 100%;
        height: 150px;
    }
    .circle-block {
        display: none;
    }
    .cat-block-more {
        position: absolute;
        bottom: 55px;
        color: #fff;
        text-align: center;
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    .cat-block-more>br {
        display: none;
    }
    .faq-block>h1 {
        font-size: 14px!important;
        width: 82%;
        text-align: right;
    }
    .videoguide>h1 {
        font-size: 14px!important;
        width: 76%;
        text-align: right;
    }
    .cta-call {
        display: block;
        width: 100%;
        height: 128px;
    }
    .cta-call>p {
        text-align: center;
        font-size: 14px;
        color: #575757;
        margin: 23px auto 13px;
    }
    .pressbtn {
        margin: 0 auto;
        display: block;
        color: #fff;
        background: #ffcc00;
        padding: 21px 15px;
        width: 75%;
        text-align: center;
        box-sizing: border-box;
        border: 0;
    }
    .bottom-delivery {
        width: 50%;
        height: 162px;
        float: left;
        background: #fffb73;
    }
    .bottom-pay {
        width: 50%;
        height: 162px;
        float: left;
        background: #ffe473;
    }
    .bottom-delivery>img,
    .bottom-pay>img {
        display: block;
        margin: 7px auto 0;
    }
    .main-bottom>h2>br {
        display: none;
    }
    .main-bottom>h2 {
        font-size: 16px;
        width: 78%;
    }
    .main-bottom {
        background: #ffcc00;
        height: auto;
    }
    .detail-list-icon,
    .detail-list-text {
        display: none;
    }
    .detail-list-mob {
        margin: 0;
        list-style: none;
        padding: 0;
    }
    .detail-list-mob>li {
        display: flex;
        align-items: center;
        width: 63%;
        margin: 0 auto;
        padding: 27px 0;
        border-top: 1px solid #fff;
    }
    .detail-list-mob>li>img {
        width: 33px;
    }
    .detail-list-mob>li>p {
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        margin-left: 40px;
        width: 63%;
        box-sizing: border-box;
        white-space: nowrap;
    }
    .footer-social-mob {
        width: 100%;
        height: 65px;
        display: block;
        position: relative;
        float: left;
        background: #575757;
    }
    .footer-social-mob>ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        height: 65px;
    }
    .footer-social-mob>ul>li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        float: left;
        width: 25%;
    }
    .footer-social-mob>ul>li>a>img {
        height: 20px;
        display: block;
        margin: 0 auto;
    }
    .bottom-main-cat {
        display: none;
    }
    .bottom-main-cat-container {
        display: none;
    }
    footer {
        display: none;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
