/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    box-sizing: border-box;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header {
    min-height: 120px;
    height: 100%;
}

.header-fixed {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 120px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.scrolled {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 120px;
    background: #fff;
    display: block;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 9;
}

.header-topline {
    width: 100%;
    min-height: 60px;
}

.header-topline-social {
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
    float: left;
    padding: 0 24px;
    box-sizing: border-box;
}

.header-topline-social-link {
    width: 25%;
    text-align: center;
}

.header-topline-social-link:hover {
    opacity: .7;
}

.header-topline-nav {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    float: left;
    background: #575757;
    font-size: 14px;
    line-height: 18px;
}

.header-topline-nav-menu {
    width: 64%;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-topline-nav-menu-link {
    width: 24%;
    float: left;
    text-align: center;
}

.header-topline-nav-menu-link>a {
    color: #fff;
    text-decoration: none;
}

.header-topline-nav-menu-link>a:hover {
    color: #ffe023;
    text-decoration: underline;
}

.header-topline-nav-account {
    width: 36%;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-topline-nav-account-register {
    width: 64%;
    text-align: center;
    border-right: 2px solid #fff;
}

.header-topline-nav-account-login {
    width: 36%;
    text-align: center;
}

.header-topline-nav-account-register>a,
.header-topline-nav-account-login>a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}

.header-topline-nav-account-register>a:hover,
.header-topline-nav-account-login>a:hover {
    color: #ffe023;
    text-decoration: underline;
}

.header-topline-wishlist_full {
    width: 15%;
    height: 60px;
    background: #cdcdcf;
    float: left;
    display: flex;
    align-items: center;
}

.header-topline-wishlist_full-link {
    //background: url(../img/wishlist_full.png)-2px center no-repeat;
    line-height: 18px;
    color: #575757;
    text-decoration: none;
    padding-left: 0px;
}

.header-fixed.scrolled>.header-topline-wishlist_mini>.header-topline-wishlist_full-link {
    background: none;
    padding-left: 0;
}

.header-topline-wishlist_full-link>img {
    height: 100%;
}

.header-topline-wishlist_full-link:hover {
    opacity: .7;
}

.header-topline-wishlist_helper>img {
    width: 100%;
}

.header-topline-wishlist_helper {
    width: 35%;
    float: right;
}

.header-topline-wishlist_helper:hover .header-topline-wishlist_helper_tooltip {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.header-topline-wishlist_helper_tooltip {
    visibility: hidden;
    position: absolute;
    top: 48px;
    margin-left: -222px;
    width: 328px;
    height: 188px;
    background: #fff;
    font-size: 12px;
    color: #575757;
    padding: 10px 22px;
    border: 1px solid #e4e4e4;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.header-topline-wishlist_helper_tooltip:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 233px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.5px 8px 6.5px;
    border-color: transparent transparent #ffffff transparent;
}

.header-logo {
    width: 20%;
    min-height: 120px;
    height: 100%;
    float: left;
    position: relative;
}

.header-logo>a>.logo {
    width: 100%;
    height: 100%;
}

.header-logo-mini {
    width: 10%;
    float: left;
    background: #fff;
}

.header-logo>a>img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.header-logo>a:hover {
    opacity: .7;
}

.header-logo-location-link {
    display: block;
    text-align: center;
    padding: 14px;
    font-size: 14px;
    color: #575757;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
}

.header-topline-cart {
    width: 15%;
    height: 60px;
    float: left;
    display: flex;
    align-items: center;
    background: #fedf22 url(../img/cart.png)center left no-repeat;
    position: relative;
    text-align: center;
}

.header-topline-cart-link {
    font-size: 14px;
    color: #575757;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.header-topline-cart-link>img {
    height: 100%;
}

.header-topline-cart-link:hover {
    text-decoration: underline;
}

.header-topline-cart-counter {
    width: 21px;
    height: 21px;
    background: #e83c4e;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    margin: 8px 8px 34px 8px;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
}

.header-category {
    width: 80%;
    height: auto;
    float: left;
}

.header-category-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-category-list>li {
    width: 12.5%;
    height: 120px;
    border: 1px solid #e6e6e6;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}

.header-category-list>li>a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #6a6a6a;
    text-decoration: none;
}

.header-category-list>li>a>img {
    width: 100%;
}

.header-category-list>li>a>span {
    font-size: 48px;
    font-size: 3.3em;
}

.header-category-list>li:hover .header-category-list-more {
    display: block;
    text-decoration: none!important;
}

.header-category-list>li>a>p {
    font-size: 14px;
    line-height: 16px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-category-list>li>a:hover p {
    visibility: hidden;
}

.header-category-list>li:last-child>a:hover p {
    visibility: visible;
}

.header-category-list-more {
    margin-top: -15px;
    position: absolute;
    display: none;
    width: 50%;
    z-index: 2;
    background: #fff;
    padding: 0 27px 0 36px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.header-category-list-more-product-lefttab {
    width: 60%;
    height: 100%;
    float: left;
    padding: 16px 0 18px;
    border-right: 1px solid #e6e6e6;
}

.header-category-list-more-product-lefttab-heading {
    font-size: 14px;
    font-weight: bold;
    color: #575757;
    text-align: left;
    margin-bottom: 40px;
}

.header-category-list-more-product-lefttab-list {
    margin: 0;
    padding: 0 0 0 36px;
    text-align: left;
    list-style-image: url(../img/list-img.png);
    list-style-position: outside;
}

.header-category-list-more-product-lefttab-list>li {
    width: 50%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 4px;
}

.header-category-list-more-product-lefttab-list>li>a {
    text-decoration: none;
    color: #6a6a6a;
    font-size: 14px;
    line-height: 14px;
}

.header-category-list-more-product-lefttab-list>li>a:hover {
    text-decoration: underline;
}

.header-category-list-more-product-lefttab-logo_slider {
    padding: 44px 0;
    margin-bottom: 0;
    list-style: none;
    clear: both;
    display: flex;
    align-items: center;
}

.header-category-list-more-product-lefttab-logo_slider>li {
    width: 30%;
    float: left;
    overflow: hidden;
}

.header-category-list-more-product-action {
    width: 39%;
    float: left;
    box-sizing: border-box;
    padding: 16px 0 18px 41px;
}

.header-category-list-more-product-action-close {
    float: right;
}

.header-category-list-more-product-action-heading {
    font-size: 14px;
    font-weight: bold;
    color: #575757;
}

.header-category-list-more-product-action-tovardnya {
    margin: 0 auto 16px;
    display: block;
    width: 100%;
}

.header-category-list-more-product-action-text {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #575757;
}

.header-category-list-more-product-action-text-line {
    margin: 31px 0;
}

.header-category-list-more-product-action-priceblock {
    margin: 0;
    text-decoration: center;
    font-size: 18px;
    color: #575757;
}

.header-category-list-more-product-action-priceblock>.price {
    font-size: 36px;
    font-weight: bold;
}

.header-bottomline {
    width: 100%;
    height: 60px;
    float: left;
}

.header-bottomline-contact {
    width: 20%;
    height: 60px;
    float: left;
    background: #b6b6b6 url(../img/contact.png)right no-repeat;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 18px;
    color: #575757;
}

.header-top-contact {
    white-space: nowrap;
    width: 20%;
    height: 60px;
    float: left;
    text-align: center;
    background: #ffcc00;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
    color: #575757;
}

.header-top-contact>a {
    font-size: 18px;
    line-height: 18px;
    color: #575757;
    text-decoration: none;
}

.header-top-contact>a:hover {
    text-decoration: underline;
    opacity: .7;
}

.header-top-contact>p {
    margin: 0;
}

.header-topline-wishlist_mini {
    width: 10%;
    height: 60px;
    background: #cdcdcf;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-topline-cart_mini {
    width: 10%;
    height: 60px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fedf22;
}

.header-topline-cart_mini>.header-topline-cart-counter {
    top: 0;
    right: 0;
    position: absolute;
}
































.switcher {
    width: 20%;
    height: 320px;
    float: left;
    padding: 38px 40px;
    box-sizing: border-box;
    background: #ffcc00;
}

.switcher-heading {
    font-size: 18px;
    height: 46px;
    color: #fff;
    text-align: left;
    margin: 0 0 46px 0;
}

.switcher>hr {
    border-top: 1px solid #fff;
    margin: 0 0 44px 0;
}

.togglebox input {
    display: none;
}

.togglebox {
    display: inline-block;
    float: left;
    width: 28px;
    height: 96px;
    position: relative;
    border-radius: 20px;
    color: #FFF;
    font-weight: bold;
    overflow: hidden;
}

.togglebox label {
    width: 30px;
    height: 100%;
    line-height: 200%;
    border-radius: 0.4em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 1.1em;
    cursor: pointer;
    -webkit-transition: height 0.12s;
    -moz-transition: height 0.12s;
    transition: height 0.12s;
}

.togglebox span {
    position: absolute;
    top: -110px;
}

.togglebox label::after {
    content: '';
    width: 30px;
    height: 100px;
    float: left;
    padding-top: 20px;
    padding-right: 13px;
    text-align: center;
    background: #bfa330;
    margin-top: -20px;
}

.togglebox label b {
    display: block;
    height: 28px;
    width: 28px;
    float: left;
    position: relative;
    z-index: 1;
    background: #Fff;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: 0px;
}

.togglebox label::before {
    content: '';
    width: 30px;
    float: left;
    height: 100px;
    padding-top: 0px;
    padding-left: 0px;
    text-align: center;
    background: #bfa330;
    margin-top: -80px;
}

.togglebox input:checked ~ label {
    top: 68px;
}



.slick-slide {
    width: 8%;
}

.pcard-v {
    width: 100%;
    height: 320px;
    float: left;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

.pcard-v-img {
    display: block;
    margin: 0 auto;
    width: auto;
    width: 100%;
    max-height: 168px;
}

.pcard-v-text {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #575757;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 95px;
}

.pcard-v-price {
    white-space: nowrap;
    position: absolute;
    font-size: 16px;
    line-height: 30px;
    color: #575757;
    margin: 0px 10%;
    font-weight: bold;
    text-align: center;
    width: 80%;
    height: 74px;
    bottom: 0;
    padding: 23px 10px;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
}

.pcard-v-price>.price {
    font-size: 36px;
}

.pcard-v-brand {
    height: 15px;
    float: right;
    display: block;
    width: 100%;
    max-width: 240px;
    margin: 10px 10px 0 0;
}

.idlamp {
    background: url(../img/idLamp-logo.png)center right no-repeat;
}

.empty {
    background: none;
}

.pcard-v-brand>img {
    height: 100%;
    display: block;
}

.pcard-v-bestprice {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    line-height: 30px;
    color: #575757;
    margin: 0 10px 10px 10px;
    width: 93%;
    font-weight: bold;
    text-align: center;
    padding: 2px 0 9px;
    background: #ffcc00 url(../img/corner-grey.jpg)right bottom no-repeat;
}

.pcard-v-bestprice>.bestprice {
    font-weight: normal;
    display: block;
}

.pcard-v-bestprice>.price {
    font-size: 36px;
}

.pcard-v:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.pcard-v-hover {
    display: none;
}

.pcard-v:hover .pcard-v-hover {
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    z-index: 2;
}

.pcard-v-img-fleft {
    display: block;
    height: 139px;
    float: left;
    margin: 0;
}

.pcard-v-hover-topblock>.pcard-v-brand {
    margin: 0;
}

.pcard-v-hover-topblock>.pcard-v-img-fleft {
    margin: 0;
}

.pcard-v-text-hover {
    text-align: left;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0px;
    color: #575757;
    margin: 38px 0 43px;
    clear: right;
    width: 119px;
    float: right;
}

.pcard-v-price-hover {
    font-size: 12px;
    line-height: 14px;
    color: #575757;
    margin: 0;
    font-weight: bold;
    text-align: right;
    display: block;
    float: right;
}

.pcard-v-price-hover>.price-hover {
    font-size: 24px;
}

.pcard-v-hover-topblock {
    width: 100%;
    height: 200px;
    display: block;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.pcard-v-hover-botblockbtn {
    width: 100%;
    height: 120px;
    display: block;
    float: left;
    position: absolute;
    bottom: 0;
}

.pcard-v-hover-blockbtn {
    width: 100%;
    height: 120px;
    display: block;
    float: left;
    position: absolute;
    bottom: 0;
}

.pcard-v-hover-wishbtn {
    width: 100%;
    height: 60px;
    margin-bottom: 0;
    box-sizing: border-box;
    background: #e6e6e6;
    font-size: 18px;
    color: #575757;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.pcard-v-hover-wishbtn>img {
    width: block;
    float: left;
}

.pcard-v-hover-buybtn {
    width: 100%;
    height: 60px;
    margin-bottom: 0;
    box-sizing: border-box;
    background: #ffcc00;
    font-size: 18px;
    color: #575757;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.pcard-v-hover-wishbtn>span {
    padding-left: 20px;
}

.pcard-v-hover-wishbtn>span>a {
    color: #575757;
}

.pcard-v-hover-wishbtn>span>a:hover {
    text-decoration: underline;
}

.pcard-v-hover-buybtn>span {
    padding-left: 20px;
}

.pcard-v-hover-buybtn>span>a {
    color: #575757;
}

.pcard-v-hover-buybtn>span>a:hover {
    text-decoration: underline;
}

.pcard-v-discount {
    width: 240px;
    height: 320px;
    float: left;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    padding: 10px;
}

.discount {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    margin: 0 10px 10px 10px;
    width: 93%;
    font-weight: bold;
    text-align: center;
    padding: 2px 0 9px;
    background: #575757 url(../img/corner-yellow.jpg)right bottom no-repeat;
}

.discount>.discount-pricetext {
    font-weight: normal;
    display: block;
    color: #ffcc00;
    font-size: 14px;
}

.discount>.price {
    font-size: 36px;
    color: #ffcc00;
}

.pcard-v-oldprice {
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #575757;
    bottom: 40px;
    position: absolute;
    margin-top: 5px;
    left: 20%;
}

.pcard-v-oldprice:after {
    content: '';
    width: 30px;
    height: 0px;
    border: 1px solid #575757;
    display: block;
    transform: rotate(-35deg);
    position: absolute;
    margin-left: 13px;
    margin-top: -9px;
}

.bottom-main-cat-menu {
    width: 100%;
    float: left;
    padding: 50px 40px 29px;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
}

.bottom-main-cat-menu:last-child {
    border-bottom: 0;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.bottom-main-cat-menu>h3 {
    font-size: 15px;
    line-height: 24px;
    color: #575757;
    text-align: left;
    margin: 0 0 38px 0;
    padding: 0;
}

.bottom-main-cat-menu>ul {
    font-size: 16px;
    line-height: 18px;
    color: #7e7e7e;
    text-align: left;
    margin: 0 0 38px 0;
    padding: 0;
    list-style-image: url(../img/list-img.png);
    list-style-position: outside;
}

.bottom-main-cat-menu>ul>li {
    margin-left: 25px;
    padding-left: 0px;
    margin-bottom: 18px;
}

.bottom-main-cat-menu>ul>li>a {
    color: #7e7e7e;
}

.bottom-main-cat-menu>ul>li>a:hover {
    text-decoration: underline;
}

.bottom-main-cat-container {
    width: 25%;
    min-height: 880px;
    float: left;
    border-right: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.bottom-main-cat {
    width: 100%;
    height: 70px;
    display: block;
    float: left;
    border-bottom: 1px solid #e6e6e6;
    background: #e6e6e6;
}

.bottom-main-cat>h3 {
    display: block;
    font-size: 18px;
    line-height: 34px;
    font-weight: bold;
    color: #575757;
    text-align: center;
}

.bottom-main-cat>p {
    font-size: 16px;
    float: right;
    color: #7e7e7e;
    text-align: right;
    margin-right: 20px;
    font-weight: normal;
    margin-top: -48px;
}

.register-social {
    width: 18%;
    height: 100%;
    display: block;
    float: right;
    padding: 0;
}

.register-social>p {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #333;
    margin: 0 0 28px 0;
}

.register-social>ul {
    padding: 0 18%;
    margin: 0;
    list-style: none;
}

.register-social>ul>li {
    width: 25%;
    display: block;
    float: left;
}

.register-social>ul>li>a {
    margin: 0 22%;
}

.register-social>ul>li>a:hover {
    opacity: .7;
}

.registerform-wrapper>form {
    width: 65%;
    display: block;
    float: left;
    position: relative;
}

form>label[for="firstname"] {
    font-size: 14px;
    line-height: 14px;
    color: #333;
    width: 44%;
    display: block;
    float: left;
    box-sizing: border-box;
}

form>label[for="lastname"] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    line-height: 14px;
    color: #333;
    width: 44%;
    display: block;
    float: right;
    box-sizing: border-box;
}

form>input[name="firstname"] {
    width: 44%;
    display: block;
    float: left;
    height: 43px;
    border: 0;
    border-bottom: 1px solid #696969;
    margin-bottom: 38px;
    box-sizing: border-box;
    clear: left;
}

form>input[name="lastname"] {
    width: 44%;
    display: block;
    float: right;
    height: 43px;
    border: 0;
    border-bottom: 1px solid #696969;
    margin-bottom: 38px;
    box-sizing: border-box;
}

form>input[name="firstname"]:focus,
form>input[name="lastname"]:focus {
    border: 1px solid #696969;
    outline: 0;
    padding-left: 17px;
}

form>label[for="email"] {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    color: #c91c5b;
    display: block;
    float: left;
}

form>input[type="email"] {
    width: 100%;
    display: block;
    float: right;
    height: 43px;
    border: 0;
    border-bottom: 1px solid #c91c5b;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form>input[type="email"]:focus {
    border: 1px solid #c91c5b;
    outline: 0;
    padding-left: 17px;
}

form>.emailrequired {
    margin: 0 0 44px 0;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    color: #c91c5b;
    display: block;
    float: left;
    font-weight: bold;
    width: 100%;
}

form>label[for="password"] {
    font-size: 14px;
    line-height: 14px;
    color: #333;
    width: 44%;
    display: block;
    float: left;
    box-sizing: border-box;
}

form>label[for="reenter-password"] {
    font-size: 14px;
    line-height: 14px;
    color: #c91c5b;
    width: 44%;
    display: block;
    float: right;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 215px;
}

form>input[type="password"] {
    width: 44%;
    display: block;
    float: left;
    height: 43px;
    border: 0;
    border-bottom: 1px solid #696969;
    margin-bottom: 10px;
    box-sizing: border-box;
    clear: left;
}

form>input[type="password"]:focus {
    border: 1px solid #696969;
    outline: 0;
    padding-left: 17px;
}

form>input[name="reenter-password"] {
    width: 44%;
    display: block;
    float: right;
    height: 43px;
    border: 0;
    border-bottom: 1px solid #c91c5b;
    margin-bottom: 10px;
    box-sizing: border-box;
    clear: right;
}

form>input[name="reenter-password"]:focus {
    border: 1px solid #c91c5b;
    outline: 0;
    padding-left: 17px;
}

form>.passwordrequired {
    margin: 0 0 70px 0;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    color: #c91c5b;
    display: block;
    float: right;
    font-weight: bold;
    width: 44%;
}

form>input[type="submit"] {
    width: 44%;
    height: 60px;
    float: right;
    display: block;
    background: #ffcc00;
    font-size: 18px;
    line-height: 18px;
    color: #575757;
    margin: 0;
    border: 0;
    clear: both;
}

.catalog-menu-mini {
    width: 20%;
    height: 60px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #575757;
    transition: all .2s linear;
    position: relative;
}

.catalog-menu-mini.bg1 {
    background: #e6e6e6 url(../img/menu-icon-hamburger.png) left center no-repeat;
}

.catalog-menu-mini.bg2 {
    background: #e6e6e6 url(../img/menu-icon-hamburger-close.png) left center no-repeat;
    //color:#e6e6e6;
}

.menu-gamburger-cat-wrapper {
    position: absolute;
    right: 0;
    top: 60px;
    width: 80%;
    background: white;
    z-index: 12;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.menu-gamburger-cat-wrapper>.menu-gamburger-cat {
    display: block;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-gamburger-cat>li {
    width: 12.5%;
    height: 120px;
    border: 1px solid #e6e6e6;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}
.menu-gamburger-cat>li:last-child>a>span{
    color: #575757;
}
.menu-gamburger-cat>li:last-child>a>p{
    color: #575757;
}
.menu-gamburger-cat>li>a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #6a6a6a;
    text-decoration: none;
}
.menu-gamburger-cat>li>a:active{
    background: #6f6f6f;
}
.menu-gamburger-cat>li>a>img {
    width: 100%;
}

.menu-gamburger-cat>li>a>p {
    margin: 0;
}

.menu-gamburger-cat>li>a>span {
    font-size: 48px;
    font-size: 3.3em;
}

.header-bottomline-contact>a {
    font-size: 16px;
    line-height: 18px;
    color: #575757;
    text-decoration: none;
}

.header-bottomline-contact>a>span {
    font-size: 18px;
}

.header-bottomline-contact>a:hover {
    text-decoration: underline;
    opacity: .7;
}

.header-bottomline-contact>p {
    margin: 0;
}

.header-bottomline-search {
    width: 80%;
    height: 60px;
    float: left;
    background: #ffcc00 url(../img/search.png)right no-repeat;
}

.mini-search {
    width: 70%;
}

.header-bottomline-search>input {
    width: 94%;
    height: 98%;
    background: transparent;
    padding-left: 36px;
    color: #fff;
    font-size: 16px;
    border-style: none;
    box-sizing: border-box;
}

.header-bottomline-search>input:focus {
    border: 10px solid #ffcc00;
    padding-left: 26px;
    background: #fff;
    box-shadow: none;
    outline: 0;
}

.header-bottomline-search>input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
}

.header-bottomline-search>input::-moz-placeholder {
    color: #fff;
    font-size: 16px;
}


/* Firefox 19+ */

.header-bottomline-search>input:-moz-placeholder {
    color: #fff;
    font-size: 16px;
}


/* Firefox 18- */

.header-bottomline-search>input:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
}

.header-bottomline-search>input:focus::-webkit-input-placeholder {
    color: #000;
    font-size: 16px;
}

.header-bottomline-search>input:focus::-moz-placeholder {
    color: #000;
    font-size: 16px;
}


/* Firefox 19+ */

.header-bottomline-search>input:focus:-moz-placeholder {
    color: #000;
    font-size: 16px;
}


/* Firefox 18- */

.header-bottomline-search>input:focus:-ms-input-placeholder {
    color: #000;
    font-size: 16px;
}

footer {
    width: 100%;
    height: 120px;
    background: #575757;
    padding: 0 38px;
    float: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

footer>.coryright {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #fff;
    width: 260px;
    text-align: left;
    float: left;
}

footer>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer>ul>li {
    margin-right: 20px;
    float: left;
}

footer>ul>li:after {
    content: '';
    border-right: 1px solid #e6e6e6;
}

footer>ul>li>a {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}

@media screen and (max-width: 1200px) {
    .header-bottomline-contact {
        background: #b6b6b6;
        text-align: center;
        color: #575757;
        white-space: nowrap;
    }
}

@media screen and (min-width: 768px) {
    .desktop-hidden {
        display: none!important;
        visibility: hidden!important;
    }
    .menu-icon-tablet {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
        width: 100%;
    }
    .header-fixed {
        position: fixed!important;
        z-index: 4;
        background: #fff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    }
    header {
        min-height: 120px;
        overflow: hidden;
    }
    .header-scrolled {
        display: none;
    }
    .menu-gamburger-cat-wrapper {
        width: 100%;
        height: 360px;
    overflow-y: scroll;
        top: 120px;
        background: #575757;
    }
    .menu-gamburger-cat>li {
        width: 100%;
        height: 60px;
        border: 1px solid #626262;
    }
    .menu-gamburger-cat>li>a {
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        align-items: center;
        justify-content: center;
    }
    .menu-gamburger-cat>li>a>img {
        width: auto;
        height: 80%;
        margin-top: -20px;
    }
    .catalog-menu-mini.bg1 {
        background-position: center;
    }
    .catalog-menu-mini.bg2 {
        background-position: center;
    }
    .catalog-menu-mini>span {
        visibility: hidden;
    }
    .header-top-contact>a {
        font-size: 3vw;
    }
    .header-logo {
        width: 15%;
        min-height: 120px;
    }
    .header-top-contact {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-top-contact>p {
        display: none;
    }
    .header-topline-nav {
        width: 39%;
    }
    .header-topline-nav-menu {
        display: none;
    }
    .header-topline-nav-account {
        width: 70%;
    }
    .header-topline-nav-account-register>a,
    .header-topline-nav-account-login>a {
        font-size: 14px!important;
    }
    .header-topline-wishlist_mini {
        width: 8%;
    }
    .header-topline-cart_mini {
        width: 8%;
    }
    .header-topline-wishlist_full-link>img {
        width: 100%;
    }
    .header-topline-cart_mini>.header-topline-cart-counter {
        display: none;
    }
    .header-topline-cart-link>img {
        width: 100%;
    }
    .header-bottomline-search>input {
        width: 86%;
    }
    .catalog-menu-mini {
        width: 30%;
        font-size: 16px!important;
    }
    .mini-search {
        width: 55%;
    }
    .breadcrumb {
        padding: 17px 15px 13px 15px;
    }
    .productpage {
        padding: 25px 15px 0 15px;
    }
    .title>h1 {
        font-size: 22px;
    }
    .title>.brand {
        margin: 32px 0 0;
    }
    .product-thumb-wrapper {
        display: none;
    }
    .product-mainimage-slider {
        width: 80%;
        height: 360px;
        display: block!important;
        margin: 0 10%;
    }
    .product-info-wrapper {
        width: 100%;
        height: 230px;
        padding: 30px 10% 0 10%;
        margin-bottom: 38px;
    }
    .product-info-price>input[type="submit"] {
        width: 100%;
    }
    .product-tabs {
        padding: 0 0 0 15px;
    }
    .tabs-panel-character {
        padding: 38px 87px
    }
    .tabs-panel-character>table>tbody>tr>td:first-child {
        width: 70%;
        overflow: hidden;
    }
    .tabs-panel-character>table>tbody>tr>td:last-child {
        width: 30%;
        overflow: hidden;
    }
    .tabs-panel-description>br {
        display: none;
    }
    .switcher {
        width: 25%;
        padding: 38px 28px 36px 38px;
        height: 254px;
    }
    .switcher-heading {
        font-size: 14px;
        height: 37px;
        font-weight: bold;
        margin: 0 0 36px 0;
    }
    .switcher>hr {
        margin: 0 0 34px 0;
    }
    .togglebox label b {
        height: 23px;
        width: 23px;
    }
    .togglebox input:checked ~ label {
        top: 57px;
    }
    .switcher-populare-product,
    .switcher-new-arrival {
        font-size: 13px;
        line-height: 14px;
        white-space: nowrap;
        color: #fff;
        font-weight: bold;
        margin: 0 0 24px 40px;
    }
    .togglebox {
        width: 23px;
        height: 80px;
    }
    .product-page-related_product-slider {
        width: 75%;
        height: 250px;
    }
    .bottom-main-cat-container {
        width: 33.33%;
        min-height: 930px;
    }
    .pcard-v {
        height: 254px;
    }
    .pcard-v-img {
        width: auto;
        max-height: 88px;
    }
    .product-page-related_product-slider>.slick-next {
        right: 28%;
    }
    .pcard-v-price>.price {
        font-size: 28px;
    }
    .tablet-hidden {
        display: none;
        visibility: hidden;
    }
    footer {
        height: 90px;
    }
    .menu-icon-tablet {
        float: right;
        display: block;
        position: relative;
        width: 100%;
    }
    .menu-icon-tablet>img {
        float: right;
    }
    .menu-icon-tablet:hover ul {
        display: block;
    }
    .menu-icon-tablet>ul {
        display: none;
    }
    .menu-icon-tablet>ul {
        position: absolute;
        right: 0;
        bottom: 75px;
        list-style: none;
        padding: 20px;
        margin: 0;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    }
    .menu-icon-tablet>ul>li>a {
        color: #575757;
        text-decoration: none;
    }
    .menu-icon-tablet>ul>li>a:focus {
        text-decoration: underline;
    }
}

@media screen and (min-width: 320px) {
    .footer-social-mob {
        display: none !important;
        visibility: hidden;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 320px;
        width: 100%;
    }
    header {
        min-height: 128px;
    }
    .header-logo {
        width: 40%;
    }
    .header-top-contact {
        display: none;
    }
    .header-topline-nav {
        width: 20%;
        height: 64px;
        background: #575757 url(../img/login.png)center no-repeat;
    }
    .header-topline-nav-account {
        display: none;
    }
    .header-topline-wishlist_mini {
        width: 20%;
        height: 64px;
    }
    .header-topline-cart_mini {
        width: 20%;
        height: 64px;
    }
    .catalog-menu-mini {
        width: 20%;
        height: 64px;
        overflow: hidden;
        float: right;
    }
    .mini-search {
        width: 40%;
        height: 64px;
        background: #ffcc00 url(../img/search.png)center no-repeat;
    }
    .header-topline-wishlist_full-link {
        background: #cdcdcf;
        padding-left: 0;
    }
    .mob-hidden {
        display: none!important;
        visibility: hidden;
    }
    .mob-visible {
        display: block!important;
        visibility: visible;
        !important;
    }
    .header-bottomline-search>input {
        display: none;
    }
    .mini-search:hover input {
        display: block;
    }
    .header-bottomline-search:hover>input {
        width: 100%;
        position: absolute;
        background: #fedf22;
        height: 64px;
        right: 0;
        top: 128px;
        color: #000;
    }
    .breadcrumb {
        display: none;
    }
    .form-wrapper {
        padding: 30px;
    }
    .title>h1 {
        font-size: 14px;
        line-height: 21px;
        width: 70%;
    }
    .title>p {
        padding: 0;
        margin-bottom: 30px;
    }
    .favorite {
        font-size: 0;
        display: inline-block;
        margin-top: 24px;
        float: right;
    }
    .title>.brand {
        display: none;
    }
    .product-meta {
        display: none;
    }
    .product-mainimage-slider {
        width: 100%;
        height: 140px;
        display: block!important;
        margin: 0;
    }
    .product-mainimage-slider>.slick-list>.slick-track>.slick-slide img {
        height: 160px;
    }
    .product-mainimage-slider>.slick-arrow {
        display: none;
    }
    .slick-dots {
        position: absolute;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
        margin-top: -25px;
    }
    .slick-dots>li>button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 6px;
        height: 6px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        outline: none;
        background: rgb(255, 255, 255);
        border: 1px solid #575757;
        border-radius: 50%;
    }
    .slick-dots>li {
        position: relative;
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }
    .product-info {
        height: auto;
        padding: 0 15px 0px 15px;
    }
    .product-info-price>.oldprice {
        display: none;
    }
    .product-description {
        width: 100%;
        padding: 20px 0 0px;
    }
    .product-info-price {
        width: 100%;
    }
    .leftover {
        width: 50%;
        padding: 3px 0 0 15px;
    }
    .product-info-wrapper {
        width: 111%;
        height: 350px;
        padding: 30px 0 0;
        margin: 0 -25px 18px -15px;
    }
    .product-description>ul>li {
        margin: 0 0 36px 15px;
    }
    .product-description>ul>li:last-child {
        display: none;
    }
    .product-description>ul>li:first-child {
        border-bottom: 1px solid #e6e6e6;
        margin: 0 0 15px 15px;
    }
    .product-description>ul>li>p {
        padding: 0 0 0 60px;
        margin: 20px 0;
    }
    .product-info-price>input[type="submit"] {
        width: 100%;
        padding-left: 74px;
    }
    .product-tabs-mob {
        display: block;
        visibility: visible;
        float: left;
        padding: 0;
        margin: 0;
        list-style: none;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
    }
    .product-tabs-wrapper {
        height: auto;
    }
    button.accordion {
        background: #fff;
        cursor: pointer;
        padding: 20px 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        font-size: 16px;
        color: #575757;
    }
    div.panel {
        padding: 0 18px;
        border-bottom: 1px solid #e6e6e6;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    button.accordion:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f078";
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }
    button.accordion.active:after {
        content: "\f077";
    }
    .panel>table {
        width: 100%;
        height: 140px;
        display: block;
    }
    .panel>table>tbody {
        width: 100%;
        display: block;
    }
    .panel>table>tbody>tr {
        width: 100%;
        display: block;
    }
    .panel>table>tbody>tr>td:first-child {
        width: 72%;
        display: block;
        float: left;
        white-space: nowrap;
        overflow: hidden;
    }
    .panel>table>tbody>tr>td:last-child {
        width: 25%;
        display: block;
        float: right;
        white-space: nowrap;
    }
    .switcher {
        width: 100%;
        height: 150px;
        padding: 20px;
        position: relative;
    }
    .switcher-heading {
        font-size: 18px!important;
        height: 20px;
        text-align: center;
        margin-bottom: 40px;
    }
    .switcher>hr {
        display: none;
    }
    .switcher-populare-product,
    .switcher-new-arrival {
        font-size: 14px!important;
        margin: 0;
        width: 30%;
    }
    .switcher-populare-product {
        float: left;
    }
    .switcher-new-arrival {
        float: right;
    }
    .togglebox {
        transform: rotate(-90deg);
        float: none;
        margin: 0 40%;
        display: block;
        width: 20px;
        height: 64px;
        position: absolute;
        top: 73px;
    }
    .togglebox label b {
        height: 20px;
        width: 20px;
        margin-top: -20px;
    }
    .togglebox input:checked ~ label {
        top: 44px;
    }
    .togglebox {
        transform: rotate(-90deg);
        float: none;
        margin: 0 40%;
        display: block;
        width: 20px;
        height: 64px;
        position: absolute;
        top: 63px;
    }
    .togglebox label b {
        height: 20px;
        width: 20px;
        margin-top: -20px;
    }
    .togglebox input:checked ~ label {
        top: 44px;
    }
    .product-page-related_product-slider>.slick-next {
        display: none!important;
    }
    .product-page-related_product-slider {
        width: 100%;
    }
    .cta-call {
        visibility: visible;
        display: block;
        float: left;
        width: 100%;
        height: 128px;
    }
    .cta-call>p {
        text-align: center;
        font-size: 14px;
        color: #575757;
        margin: 23px auto 13px;
    }
    .cta-call>input[type="submit"] {
        margin: 0 auto;
        display: block;
        color: #fff;
        background: #ffcc00;
        padding: 21px 15px;
        width: 75%;
        text-align: center;
        box-sizing: border-box;
        border: 0;
    }
    .header-fixed {
        height: 128px;
    }
    .header-logo>a>img {
        margin: 11% auto;
    }
    .footer-social-mob {
        width: 100%;
        height: 65px;
        display: block;
        position: relative;
        float: left;
        background: #575757;
    }
    .footer-social-mob>ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        height: 65px;
    }
    .footer-social-mob>ul>li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        float: left;
        width: 25%;
    }
    .footer-social-mob>ul>li>a>img {
        height: 20px;
        display: block;
        margin: 0 auto;
    }
    .bottom-main-cat {
        display: none;
    }
    .bottom-main-cat-container {
        display: none;
    }
    footer {
        display: none;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
