@media (max-width: 1100px){
/*
	.header-topline-nav-menu {
		margin: 12px 0 0 21px;
	}
	.header-topline-nav-account {
		margin: 10px 29px 0 0;
	}
*/
}
@media (max-width: 1199px){
	.header-logo-img>a {
		max-width: 90%;
	}
	.header-category-list>li>p {
		font-size: 13px;
	}
	.header-bottomline-contact-box {
		margin: 13px 0 0 4px;
	}
	.header-bottomline-contact {
		background-position: 96% center;
	}
	.pay, .delivery {
		padding: 0 22px;
	}
	.pcard-h-bottom {
		width: 100%;
	}
	.discount, .pcard-v-bestprice {
		margin: 0;
		width: 100%;
	}
	.faq-block-boxs {
		width: 92%;
	}
	.faq-block-box > p {
		margin: 0 0 20px 0;
		padding: 2px 0 0 34px;
	}
	.cat-block>img {
		height: 72px;
	}
	.videoguide>a:last-child {
		width: 96%;
	}
	.footer-ul-box>ul {
		margin: 49px 0 0 0;
	}
	.main-bottom-blocks {
		width: 100%;
	}
	.bm-list > h3 {
		white-space: normal;
	}
	.pcard-h-bottom>.pcard-h-text {
		padding: 19px 0 0 10px;
	}
	.pcard-h-bottom>.pcard-h-priced {
		padding: 22px 5px 0 0;
	}
	.pcard-v-price:before {
		background: #e6e6e6;
	}
	.product-text-block-right {
		padding: 64px 10px 0 10px;
	}
	.pcard-v-price-hover>.price-hover {
		font-size: 22px;
	}
	.header-topline-nav {
		width: 60%;
	}
	.header-topline-cart,
	.header-topline-wishlist_full {
		width: 10%;
	}
	
	.header-topline-wishlist_full-link > img,
	.header-topline-cart-link > img {
		margin-right: 5px;
	}
	.header-topline-wishlist_full-link {
		float: none;
		margin: 19px 0 0 0;
	}
	.header-topline-cart-link {
		float: none;
		margin: 20px 0 0 0;
	}
	.header-topline-wishlist_helper {
		display: none;
	}
	.header-topline-cart-counter {
		right: -7px;
		top: -19px;
	}
	.header-fixed .header-topline-nav {
		width: 50%;
	}
	.catalog-menu-mini > a {
		float: none;
		margin: 16px 0 0 0;
	}
	.header-topline-nav-menu-link {
		margin-right: 25px;
	}
	.header-fixed .header-topline-nav-menu-link {
		margin-right: 22px;
	}
}

@media (max-width: 991px){
	.header-topline-wishlist_full-box > a {
		float: none;
	}	
	.header-topline-cart-link {
		margin-left: 7px;
	}
	.header-category-list>li>p {
		font-size: 12px;
	}
	.header-bottomline-contact-box {
		float: none;
		margin: 13px 0 0 0;
	}
	.header-bottomline-contact {
		background: #b6b6b6;
	}
	.pay, .delivery {
		padding: 0 10px;
	}
	.pcard-h-bottom>.pcard-h-text {
		font-size: 14px;
	}
	.pcard-h-priced>.price {
		font-size: 26px;
	}
	.pcard-h-bottom>.pcard-h-priced {
		white-space: nowrap;
	}
	.switcher-box {
		width: 130px;
	}
	.switcher-populare-product, .switcher-new-arrival {
		margin: 0 0 31px 39px;
		font-size: 15px;
	}
	.pcard-v-price>.price {
		font-size: 26px;
	}
	.pcard-v-text {
		font-size: 14px;
	}
	.pcard-v-bestprice>.price {
		font-size: 26px;
	}
	.discount>.price {
		font-size: 26px;
	}
	.discount>.discount-pricetext {
		font-size: 12px;
	}
	.faq-block-box > p {
		margin: 0 0 5px 0;
	}
	.faq-block>h1 {
		margin: 35px 0 20px;
	}

	.footer-ul-box + a {
		float: none;
		display: inline-block;
		margin: 0;
	}
	footer > a:first-child {
		display: none;
	}
	.footer-ul-box {
		float: none;
		width: 100%;
	}
	.footer-ul-box>ul {
		margin: 30px 0 13px;
	}
	.main-block-text {
		padding: 0 4px;
		font-size: 13px;
	}
	.bm-list {
		padding: 20px 5px 25px 10%;
	}
	.bm-list ul>li {
		padding-left: 10px;
	}
	.bm-list > h3 {
		margin: 0 0 15px;
		font-size: 16px;
	}
	.bm-list ul>li>a {
		font-size: 14px;
	}
	.pcard-v-price:before {
		top: -28px;
	}
	.pcard-v-hover-blockbtn a {
		margin-left: 30px;
	}
	.pcard-v-price-hover>.price-hover {
		font-size: 19px;
	}
	.pcard-v-text-hover {
		font-size: 10px;
	}
	.pcard-v-hover-botblockbtn > a {
		text-indent: 20px;
	}
	.header-topline-nav {
		width: 70%;
	}
	.header-topline-cart,
	.header-topline-wishlist_full {
		width: 5%;
	}
	.header-topline-nav-menu-link {
		margin-right: 30px;
	}
	.header-topline-wishlist_full-link,
	.header-topline-cart-link {
		font-size: 0;
		white-space: normal;
	}
	.header-topline-wishlist_full-link > img,
	.header-topline-cart-link > img {
		margin: 0;
	}
	.header-fixed .header-topline-nav {
		text-align: center;
	}
	.header-fixed .header-topline-nav-menu {
		display: none;
	}
	.header-fixed .header-topline-nav-account {
		float: none;
		margin: 22px 0 0 0;
	}
	.catalog-menu-mini > a {
		font-size: 15px;
	}
	.catalog-menu-mini > a > img {
		margin-right: 9px;
	}
	
}
@media (max-width: 768px){
	body {
		width: 768px;
	}
	.bm-list {
		padding: 20px 5px 25px;
	}
	.header-fixed {
		position: static !important;
		display: block;
		width: 768px;
		background: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, .5);
		z-index: 4;
	}
	.header-logo {
		width: 120px;
		height: 120px;
		min-height: auto;
		display: flex;
		align-items: center;
	}
	.header-top-contact {
		width: 228px;
	}
	.header-top-contact>a {
		margin-top: -3px;
	}

	.header-topline-nav-account {
		width: 100%;
	}
	.header-topline-wishlist_mini {
		width: 60px;
	}
	.header-topline-cart_mini {
		width: 60px;
	}	
	.header-fixed .header-topline-nav {
		width: 300px;
	}
	.header-topline-cart_mini .header-topline-cart-counter {
		right: -11px;
		top: -11px;
	}
	.header-fixed .header-topline-nav-account {
		margin: 21px 0 0 38px;
	}
	.header-fixed .header-topline-nav-account a {
		font-size: 14px;
	}
	.header-fixed .header-topline-nav-account-login {
		margin-left: 22px;
	}
	.header-fixed .catalog-menu-mini {
		width: 228px;
	}
	.header-fixed .catalog-menu-mini > a {
		float: left;
		margin: 16px 0 0 18px;
	}
	.header-fixed .catalog-menu-mini > a > img {
		margin-right: 24px;
	}
	.header-fixed .mini-search {
		width: 420px;
	}
	.header-fixed .header-bottomline-search>input {
		padding-left: 28px;
	}
	.header-fixed .header-bottomline-search>button {
		background-position: 16px 17px;
	}	
	.slider-content {
		position: static;
		float: right;
		width: 422px;
		max-width: 100%;
		margin: 0;
	}
	.slider-content-heading {
		margin: 65px 0 0 0;
		font-size: 62px;
		letter-spacing: -1.2px;
	}
	.slider-content-text {
		margin: 33px 0 0 3px;
		font-size: 31px;
		letter-spacing: -0.5px;
	}
	.slider-content-btn {
		left: 349px;
	}
	.delivery, .pay {
		width: 50%;
		height: 77px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.pay>img, .delivery>img {
		display: none;
	}
	.delivery {
		background: #fffb73 url("../img/delivery.png") no-repeat 115px 15px;
	}
	.pay {
		background: #ffe473 url("../img/pay.png") no-repeat 102px 12px;
	}
	.delivery-heading {
		margin: 0 0 0 84px;
		font-size: 14px;
		font-weight: bold;
	}
	.switcher {
		width: 256px;
	}
	.switcher-box {
		margin: 38px 0 0 39px;
		width: 161px;
	}
	.switcher-populare-product, .switcher-new-arrival {
		line-height: 20px;
	}
	.switcher-populare-product {
		margin: -13px 0 31px 50px;
	}
	.switcher-new-arrival {
		margin: 51px 0 31px 51px;
	}
	.pcard-h-product-view-box {
		height: 225px;
		line-height: 225px;
	}
	.pcard-h-bottom {
		margin: 0 0 0 42px;
		width: 79%;
	}
	.pcard-h-bottom>.pcard-h-text {
		padding: 14px 0 0 0;
		font-size: 16px;
	}
	.pcard-h-bottom>.pcard-h-priced {
		padding: 20px 0 0 0;
		font-size: 17px;
	}
	.pcard-h-priced>.price {
		margin-right: 4px;
		font-size: 36px;
	}
	.pcard-h-priced {
		font-size: 18px;
	}
	.pcard-v-hover-blockbtn a {
		margin-left: 0;
	}
	.header-fixed .header-category {
		z-index: 999;
	}
	.home-partial-product-slider {
		height: 320px;
		width: 768px;
		overflow: hidden;
	}
	.home-partial-product-slider-content .pcard-v {
		width: 256px;
	}
	.home-partial-product-slider-content .pcard-v-img-box>img {
		display: inline !important;
	}
	.pcard-v-text {
		font-size: 16px;
	}
	.pcard-v-price {
		font-size: 18px;
	}
	.pcard-v-price>.price {
		font-size: 36px;
	}
	.pcard-v-price:before {
		background: linear-gradient(to right, #fff 0%, #fff 15%, #e6e6e6 15%, #e6e6e6 85%, #fff 85%, #fff 100%);
	}
	.cat-block-more {
		display: none;
	}
	.cat-block>img {
		height: 92px;
	}
	.faq-block-all, .faq-block-boxs,
	.videoguide-play, .videoguide>a:last-child {
		display: none !important;
	}
	.faq-block>a {
		font-size: 14px!important;
	}
	.videoguide>a:first-child, .faq-block>a:first-child {
		display: inline-block;
		font-size: 14px!important;
	}
	.videoguide>a:first-child>img, .faq-block>a:first-child>img {
		display: inline;
	}
	.videoguide>a:first-child {
		margin: 30px 0 0 107px;
	}
	.videoguide>a:first-child > img {
		margin-right: 25px;
	}
	.faq-block>a:first-child {
		margin: 30px 0 0 99px;
	}
	.faq-block>a:first-child > img {
		margin-right: 21px;
	}
	.home-partial-product-slider {
		display: block;
	}
	.main-bottom-block:nth-child(3), .main-bottom-block:nth-child(4) {
		display: none;
	}
	.main-bottom-block {
		width: 33.333333333%;
	}
	.main-bottom>h2 {
		margin: 21px auto 20px;
		font-size: 16px;
	}
	.main-bottom-block:not(:last-child):after {
		top: 26px;
	}
	.main-block-text {
		padding: 0 53px;
		line-height: 1.2;
		font-style: normal;
	}
	.main-block-top {
		height: 53px;
	}
	.main-bottom {
		padding-bottom: 20px;
	}
	.bm-list {
		padding: 46px 0 39px 21px;
	}
	.bm-col {
		width: 33.3333333%;
	}
	.bm-col:last-child {
		display: none;
	}
	.bm-list > h3 {
		margin: 0 0 27px;
		font-size: 18px;
	}
	.bm-list ul>li {
		padding-left: 19px;
	}
	.bm-list ul>li>a {
		font-size: 16px;
	}
	.footer-ul-box + a {
		float: left;
		margin: 37px 0 0 0px;
		font-size: 14px;
	}
	.menu-icon-tablet {
		float: right;
		display: block;
		position: relative;
	}
	.menu-icon-tablet {
		margin: 37px 15px 0 0;
	}
	header {
		height: 120px;
	}
}

